<h2 class="cherry text16" mat-dialog-title>DATOS PARTO</h2>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.animal" class="icon-cancel" cdkFocusInitial></button>
</div>

<div mat-dialog-content>

  <!--  data:{Npartos: nPartos, pagina: 20, partos: this.datosPartos, CompNacido: this.compNacido, CompMadre: this.compMadre, i:0} -->

<div class="centrar pagPartos">
  <button class="btn-border" *ngIf="data.pagina > 0" (click)= "data.pagina = data.pagina-1">Anterior</button>
  <p class="prueba">Parto {{data.pagina+1}} de {{data.Npartos}}</p>
  <button class="btn-border" *ngIf="data.pagina+1 < data.Npartos" (click)= "data.pagina = data.pagina+1">Siguiente</button>
</div>

  <div class="divLabels">
    <div class="divExp">
      <label>Edad de la madre en el parto</label> <!--  en el momento del parto-->
    </div>
    <div class="divExp">
      <input id="edadMPopup" [(ngModel)]="data.datosPartos[data.pagina].Edad_Madre"  name="Edad_Madre" type="number">
    </div>

    <div class="divExp">
      <label>Fecha del parto</label>
    </div>
    <div class="divExp">
      <input id="fechaMPopup" [(ngModel)]="data.datosPartos[data.pagina].Fecha" type="date">
    </div>
  </div>

  <div class="divLabels">
    <div class="divExp">
      <!-- Este valor lo voy a calcular en funcion de la fecha que introduzca el usuario-->
      <label>Edad del nacido</label>  <!--(Ver si lo podemos hacer automatico)-->
    </div>
    <div class="divExp">
      <input id="edadNPopup" [(ngModel)]="data.datosPartos[data.pagina].Edad_Nacido" name="Edad_Nacido" type="number">
    </div>

    <div class="divExp">
      <label> Tiempo expulsivo</label>
    </div>
    <div class="divExp">
      <input id="tExpulsivo" [(ngModel)]="data.datosPartos[data.pagina].Tiempo_Expulsivo" name="Tiempo_Expulsivo" type="number">
    </div>
  </div>

  <div class="divLabels">
    <div class="divExp">
      <label> Tiempo de dilatación</label>
    </div>
    <div class="divExp">
      <input id="tDilatacion" [(ngModel)]="data.datosPartos[data.pagina].Tiempo_Dilatacion" name="Tiempo_Dilatacion" type="number">
    </div>

    <div class="divExp">
      <label> Duración del parto</label>
    </div>
    <div class="divExp">
      <input id="tParto" [(ngModel)]="data.datosPartos[data.pagina].Duracion_Parto" name="Duracion_Parto" type="number">
    </div>
  </div>

  <div class="divLabels">
    <div class="divExp">
      <label id="formulaObs">Fórmula obstretica realizada</label>
    </div>
    <div class="divExp">
      <select id="formulaObsSelect" [(ngModel)]="data.datosPartos[data.pagina].ID_Formula" name="ID_Formula">
        <option *ngFor="let f of data.formulas" [value]="f.ID_Formula">{{f.Nombre}}</option>
      </select>
    </div>

    <div class="divExp">
      <label>Test APGAR</label>
    </div>
    <div class="divExp">
      <input id="testAPGAR" [(ngModel)]="data.datosPartos[data.pagina].Test_APGAR" name="Test_APGAR" type="number">
    </div>
  </div>

  <div class="divLabelsDeUno">
    <div class="divExpDeUno">
      <label>Tipo de mutilación de la madre en el parto</label>
    </div>
    <div class="divExpDeUno">
      <select [(ngModel)]="data.datosPartos[data.pagina].ID_Mutilacion" name="ID_Mutilacion">
          <option *ngFor="let t of data.tiposMutilacion" [value]="t.ID_Mutilacion">{{t.Nombre}} {{t.Tipo}}</option>
      </select>
    </div>
  </div>

  <!-- Lo divertido -->
  <h2 class="text16 textPink">COMPLICACIONES DE LA MADRE DURANTE EL PARTO
    <span matTooltip="Seleccione todas las complicaciones que sufrió la madre durante el parto. Puede selecionar más de una" class="pointer icon-info info"></span>
    <span id="iconPlus" (click)="mostrarPartoMadre();" class="pointer icon-plus"></span>
    <span id="iconMinus" style="display:none;" (click)="ocultarPartoMadre();" class="pointer icon-minus"></span>
  </h2>

  <div style="display:none;" id="complMadreContainer">

    <div class="divContainerPopUp">
      <div *ngFor="let c of data.compMadre; let k = index">
        <div class="divExpPopUp">
           <label for="{{data.pagina}}compMadre{{k}}">{{c.Nombre}}</label>
          <!-- <input class="checktrans" id="{{data.pagina}}compMadre{{k}}" [(ngModel)]="data.datosPartos[data.pagina].CompMadre[k]" name="{{data.pagina}}compMadre{{k}}" value="c.ID_Complicacion" type="checkbox"> -->
        </div>
        <div class="divExpPopUpCheck">
          <input id="{{data.pagina}}compMadre{{k}}" [(ngModel)]="data.datosPartos[data.pagina].CompMadre[k]" name="{{data.pagina}}compMadre{{k}}" value="c.ID_Complicacion" type="checkbox">
          <!-- <label class="checktrans" for="{{data.pagina}}compMadre{{k}}">{{c.Nombre}}</label> -->
        </div>
      </div>
    </div>
  </div>

  <h2 class="text16 textPink">COMPLICACIONES DEL NIÑO DURANTE EL PARTO
    <span matTooltip="Seleccione todas las complicaciones que sufrió el recién nacido durante el parto. Puede selecionar más de una" class="pointer icon-info info"></span>
    <span id="iconPlusN" (click)="mostrarNinio();" class="pointer icon-plus"></span>
    <span id="iconMinusN" style="display:none;" (click)="ocultarNinio();" class="pointer icon-minus"></span>
  </h2>

  <div style="display:none;" id="complNinioContainer">

    <div class="divContainerPopUp">
      <div *ngFor="let c of data.compNacido let j= index">
        <div class="divExpPopUp">
          <label for="{{data.pagina}}compNacido{{j}}">{{c.Nombre}}</label>
        </div>
        <div class="divExpPopUpCheck">
          <input id="{{data.pagina}}compNacido{{j}}" [(ngModel)]="data.datosPartos[data.pagina].compNacido[j]" name="{{data.pagina}}compNacido{{j}}" type="checkbox">
        </div>
      </div>
    </div>
  </div>
