<h1 mat-dialog-title>DATOS PARTO</h1>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.animal" class="icon-cancel" cdkFocusInitial></button>
</div>
<div mat-dialog-content>

  <!--  data:{Npartos: nPartos, prueba: 20, partos: this.datosPartos, CompNacido: this.compNacido, CompMadre: this.compMadre, i:0} -->
<p>{{data.prueba}}</p>
<button (click)= "data.prueba = data.prueba+1">Sig Parto</button>

  <label>Edad de la madre en el momento del parto </label>
  <input [(ngModel)]="data.datosPartos[data.prueba].Edad_Madre"  name="Edad_Madre" type="number">
  <br>
  <label>Fecha del parto</label>
  <input type="date">
  <br>
  <!-- Este valor lo voy a calcular en funcion de la fecha que introduzca el usuario-->
  <label>Edad del nacido(Ver si lo podemos hacer automatico)</label>
  <input [(ngModel)]="data.datosPartos[0].Edad_Nacido" name="Edad_Nacido" type="number">
  <br>
  <label> Tiempo expulsivo</label>
  <input [(ngModel)]="data.datosPartos[0].Tiempo_Expulsivo" name="Tiempo_Expulsivo" type="number">
  <br>
  <label> Tiempo de dialtación</label>
  <input [(ngModel)]="data.datosPartos[0].Tiempo_Dilatacion" name="Tiempo_Dilatacion" type="number">
  <br>
  <label> Duración del parto</label>
  <input [(ngModel)]="data.datosPartos[0].Duracion_Parto" name="Duracion_Parto" type="number">
  <br>
  <label>Formula obstretica realizada</label>
  <select [(ngModel)]="data.datosPartos[0].ID_Formula" name="ID_Formula">
    <option *ngFor="let f of data.formulas" [value]="f.ID_Formula">{{f.Nombre}}</option>
  </select>
  <br>
  <label>Test APGAR</label>
  <input [(ngModel)]="data.datosPartos[0].Test_APGAR" name="Test_APGAR" type="number">
  <br>
  <label>Tipo de mutilación que padece la madre en el momento del parto</label>
  <select [(ngModel)]="data.datosPartos[0].ID_Mutilacion" name="ID_Mutilacion">
      <option *ngFor="let t of data.tiposMutilacion" [value]="t.ID_Mutilacion">{{t.Nombre}} {{t.Tipo}}</option>
  </select>
  <br>
  <!-- Lo divertido -->
  <p>Seleccione las complicaciones sufrió la madre durante el parto</p>
  <span matTooltip="Seleccione todas las complicaciones que sufra la madre ddurante el parto. Puede selecionar más de una" class="pointer icon-info info"></span>
  <div *ngFor="let c of data.compMadre; let k = index">
    <label for="{{0}}compMadre{{k}}">{{c.Nombre}}</label>
    <!-- [(ngModel)]="datosPartos[i].compMadre" -->
    <input id="{{0}}compMadre{{k}}" [(ngModel)]="data.datosPartos[0].CompMadre[k]" name="{{0}}compMadre{{k}}" value="c.ID_Complicacion" type="checkbox">
  </div>
  <br><br>
  <p>Seleccione las complicaciones sufrió el recien nacido durante el parto</p>
  <span matTooltip="Seleccione todas las complicaciones que sufrioel recien nacido durante el parto. Puede selecionar más de una" class="pointer icon-info info"></span>
  <div *ngFor="let c of data.compNacido let j= index">
    <label for="{{0}}compNacido{{j}}">{{c.Nombre}}</label>
    <input id="{{0}}compNacido{{j}}" [(ngModel)]="data.datosPartos[0].compNacido[j]" name="{{0}}compNacido{{j}}" type="checkbox">
  </div>
