<button [routerLink]="['/']"type="button" name="button" class="btn-relleno btn-atras">ATRÁS
</button>

<div class="vermasCentro bgColorWhite">
  <a [routerLink]="['/']"><img style="margin-top:8px; width:120px;" src="../assets/img/AISHA.png" alt="aishaLogo"></a>
  <p class="vermasCentroText text18"> AISHA es una plataforma web destinada a poner en contacto a diferentes profesionales del sector que trata la mutilación genital femenina a nivel mundial.
</p>
</div>

<div class="vermasPeq">
  <div class="vermasLado bgColorWhite" >
    <h1 style="margin-top:23px;"><b>USUARIO REGISTRADO</b></h1>

    <div class="caracteristicasLeft">

      <div style="width:100%;">
        <p style="width:80%;margin-right:0;">Visualización de gráficos <b>estadísticos</b></p>
        <img  class="tickCrossIcon" src="../assets/img/Tick.png" alt="tickIcon">
      </div>
      <br>

      <div style="width:100%;">
        <p style="width:80%;margin-right:0;">Suscripción de <b>noticias</b></p>
        <img  class="tickCrossIcon" src="../assets/img/Tick.png" alt="tickIcon">
      </div>
      <br>

      <div style="width:100%;">
        <p style="width:80%;margin-right:0;">Gestión de <b>expedientes</b></p>
        <img  class="tickCrossIcon" src="../assets/img/Tick.png" alt="tickIcon">
      </div>
      <br>

      <div style="width:100%;">
        <p style="width:80%;margin-right:0;">Visualización de materiales <b>multimedia</b> de la plataforma</p>
        <img  class="tickCrossIcon" src="../assets/img/Tick.png" alt="tickIcon">
      </div>
      <br>

      <div style="width:100%;">
        <p style="width:80%;margin-right:0;">Visualización de <b>expedientes</b> publicados por los usuarios</p>
        <img  class="tickCrossIcon" src="../assets/img/Tick.png" alt="tickIcon">
      </div>
      <br>

      <div style="width:100%;">
        <p style="width:80%;margin-right:0;">Utilización del modelo 3D para <b>formación</b></p>
        <img  class="tickCrossIcon" src="../assets/img/Tick.png" alt="tickIcon">
      </div>
      <br>

      <div style="width:100%;">
        <p style="width:80%;margin-right:0;">Facilidad de <b>contacto</b></p>
        <img  class="tickCrossIcon" src="../assets/img/Tick.png" alt="tickIcon">
      </div>
      <br>
    </div>
<!--
    <div class="ticksDiv">
      <img style="margin-top:8px; width:20px;" src="../assets/img/Tick.png" alt="tickIcon">
      <img style="margin-top:16px; width:20px;" src="../assets/img/Tick.png" alt="tickIcon">
      <img style="margin-top:14px; width:20px;" src="../assets/img/Tick.png" alt="tickIcon">
      <img style="margin-top:12px; width:20px;" src="../assets/img/Tick.png" alt="tickIcon">
      <img style="margin-top:22px; width:20px;" src="../assets/img/Tick.png" alt="tickIcon">
      <img style="margin-top:22px; width:20px;" src="../assets/img/Tick.png" alt="tickIcon">
      <img style="margin-top:20px; width:20px;" src="../assets/img/Tick.png" alt="tickIcon">
    </div>-->
  </div>

  <div style="float:right" class="vermasLado bgColorWhite">
    <h1 style="margin-top:23px;"><b>USUARIO NO REGISTRADO</b></h1>
    <div class="caracteristicasLeft">

      <div style="width:100%;">
        <p style="width:80%;margin-right:0;">Visualización de gráficos <b>estadísticos</b></p>
        <img class="tickCrossIcon" src="../assets/img/Tick.png" alt="tickIcon">
      </div>
      <br>

      <div style="width:100%;">
        <p style="width:80%;margin-right:0;">Suscripción de <b>noticias</b></p>
        <img class="tickCrossIcon" src="../assets/img/Tick.png" alt="tickIcon">
      </div>
      <br>

      <div style="width:100%;">
        <p style="width:80%;margin-right:0;">Gestión de <b>expedientes</b></p>
        <img class="tickCrossIcon"  src="../assets/img/Cross.png" alt="crossIcon">
      </div>
      <br>

      <div style="width:100%;">
        <p style="width:80%;margin-right:0;">Visualización de materiales <b>multimedia</b> de la plataforma</p>
        <img class="tickCrossIcon" src="../assets/img/Cross.png" alt="crossIcon">
      </div>
      <br>

      <div style="width:100%;">
        <p style="width:80%;margin-right:0;">Visualización de <b>expedientes</b> publicados por los usuarios</p>
        <img class="tickCrossIcon" src="../assets/img/Cross.png" alt="crossIcon">
      </div>
      <br>

      <div style="width:100%;">
        <p style="width:80%;margin-right:0;">Utilización del modelo 3D para <b>formación</b></p>
        <img class="tickCrossIcon" src="../assets/img/Cross.png" alt="crossIcon">
      </div>
      <br>

      <div style="width:100%;">
        <p style="width:80%;margin-right:0;">Facilidad de <b>contacto</b></p>
        <img class="tickCrossIcon" src="../assets/img/Cross.png" alt="crossIcon">
      </div>
      <br>
    </div>
  </div>
</div>
