<!-- <button [routerLink]="['/']"type="button" name="button" class="btn-relleno btn-atras">ATRÁS
</button> -->
<!--
<div class="verMasCentro bgColorWhite">
  <div class="verMasHeader">
  <a [routerLink]="['/']"><img style="margin-top:8px; width:100px;" src="../assets/img/AISHA.png" alt="aishaLogo"></a>
  <p class="vermasCentroText text18"> AISHA es una plataforma web destinada a poner en contacto a diferentes profesionales del sector que trata la mutilación genital femenina a nivel mundial.
</p>
</div>

<div class="verMasRegistro">
  <h1>¿Aún no te has registrado <b>registrado</b>?</h1>
  <button type="submit" name="button" class="btn-relleno suscribirse">REGÍSTRATE</button>
</div>

</div>



<div class="verMasTabla bgColorWhite">
  <table>
    <tr>
      <th></th>
      <th>USUARIO REGISTRADO</th>
      <th>USUARIO NO REGISTRADO</th>
    </tr>
    <tr>
      <td class="tdVermas tdVermasText fade1">Visualización de gráficos <b>estadísticos</b></td>
      <td class="tdVermas fade1"><img class="tickCrossIcon" src="../assets/img/Tick.png" alt="tickIcon"></td>
      <td class="tdVermas fade1"><img class="tickCrossIcon" src="../assets/img/Tick.png" alt="tickIcon"></td>
    </tr>
    <tr>
      <td class="tdVermas tdVermasText fade2">Suscripción de <b>noticias</b></td>
      <td class="tdVermas fade2"><img class="tickCrossIcon" src="../assets/img/Tick.png" alt="tickIcon"></td>
      <td class="tdVermas fade2"><img class="tickCrossIcon" src="../assets/img/Tick.png" alt="tickIcon"></td>
    </tr>
    <tr>
      <td class="tdVermas tdVermasText fade3">Gestión de <b>expedientes</b></td>
      <td class="tdVermas fade3"><img class="tickCrossIcon" src="../assets/img/Tick.png" alt="tickIcon"></td>
      <td class="tdVermas fade3"><img class="tickCrossIcon" src="../assets/img/Cross.png" alt="crossIcon"></td>
    </tr>
    <tr>
      <td class="tdVermas tdVermasText fade4">Visualización de materiales <b>multimedia</b> de la plataforma</td>
      <td class="tdVermas fade4"><img class="tickCrossIcon" src="../assets/img/Tick.png" alt="tickIcon"></td>
      <td class="tdVermas fade4"><img class="tickCrossIcon" src="../assets/img/Cross.png" alt="crossIcon"></td>
    </tr>
    <tr>
      <td class="tdVermas tdVermasText fade5">Visualización de <b>expedientes</b> publicados por los usuarios</td>
      <td class="tdVermas fade5"><img class="tickCrossIcon" src="../assets/img/Tick.png" alt="tickIcon"></td>
      <td class="tdVermas fade5"><img class="tickCrossIcon" src="../assets/img/Cross.png" alt="crossIcon"></td>
    </tr>
    <tr>
      <td class="tdVermas tdVermasText fade6">Utilización del modelo 3D para <b>formación</b></td>
      <td class="tdVermas fade6"><img class="tickCrossIcon" src="../assets/img/Tick.png" alt="tickIcon"></td>
      <td class="tdVermas fade6"><img class="tickCrossIcon" src="../assets/img/Cross.png" alt="crossIcon"></td>
    </tr>
    <tr>
      <td class="tdVermas tdVermasText fade7">Facilidad de <b>contacto</b></td>
      <td class="tdVermas fade7"><img class="tickCrossIcon" src="../assets/img/Tick.png" alt="tickIcon"></td>
      <td class="tdVermas fade7"><img class="tickCrossIcon" src="../assets/img/Cross.png" alt="crossIcon"></td>
    </tr>

  </table>
</div> -->
<div class="containerVerMas">
  <div class="dchaVerMas">
    <div class="containerFlujo">
    <button [routerLink]="['/']"type="button" name="button" class="registroVerMas">REGÍSTRATE
    </button>
    <img class="flujo" src="../assets/img/Flujo.png" alt="tickIcon">
  </div>
  </div>
  <div class="izqVerMas">
    <div class="buttonVerMas">
      <button [routerLink]="['/']"type="button" name="button" class="btn-border btn-atras">PÁGINA PRINCIPAL
      </button>
    </div>

    <div class="restoVerMas">
      <img class="textovermas" src="../assets/img/TextoVerMas.png" alt="tickIcon">
      <br>
      <img class="verVideo" src="../assets/img/PlayIcon.png" alt="tickIcon">
  </div>
  </div>


</div>
<app-footer></app-footer>
