
<div class="containerVerMas">
  <div class="dchaVerMas">
    <div class="containerFlujo">

  </div>
  </div>
  <div class="izqVerMas">
    <div class="buttonVerMas">
      <button [routerLink]="['/']"type="button" name="button" class="btn-border btn-atras">PÁGINA PRINCIPAL
      </button>
    </div>

    <div class="restoVerMas">
      <img class="textovermas" src="../assets/img/TextoVerMas.png" alt="tickIcon">
      <br>
      <img class="verVideo" src="../assets/img/PlayIcon.png" alt="tickIcon">
  </div>
  </div>

</div>
<app-footer></app-footer>
