<div *ngIf="error">
  <app-error></app-error>
</div>
<div *ngIf="!error">
  <div *ngIf="asociacion">
    <app-header-asociacion></app-header-asociacion>
  </div>
  <div *ngIf="admin">
    <app-header-admin></app-header-admin>
  </div>
  <div *ngIf="usuario">
    <app-header></app-header>
  </div>

  <div class="divBlanco bgColorWhite">
    <div class="buttons-canvas">
      <div class="buttons-canvas-left">
        <button class="btn-relleno-negro" type="button" name="button" (click)="tipo1()">Tipo 1</button>
        <button class="btn-relleno-negro" type="button" name="button" (click)="tipo2()">Tipo 2</button>
        <button class="btn-relleno-negro" type="button" name="button" (click)="tipo3()">Tipo 3</button>
      </div>
      <div class="buttons-canvas-right">
        <button class="btn-relleno-negro" type="button" name="button" (click)="real()">Real</button>
        <button class="btn-relleno-negro" type="button" name="button" (click)="cartoon()">Cartoon</button>
      </div>
    </div>
    <canvas id="canvas" width="800" height="600" style="width:90%; height:500px;"></canvas>
  </div>
  <!-- <button
    class="btn-relleno"
    type="button"
    name="button"
    style="display:block; margin:auto;">
    Descargar modelo 3D
  </button> -->
  <app-footer></app-footer>
</div>
