<div *ngIf="error">
  <app-error></app-error>
</div>
<div *ngIf="!error">
    <div class="content">
      <div class="contenedor">
        <div class="dropdown-motor">
          <button class="boton-flotante" id="tipos" (click)="click(sinMGF)">
            <span id="span">{{sinMGF}}</span>
          </button>
          <div class="dropdown-content-motor">
            <button class="boton-flotante" id="tipo0" (click)="click(tipo_1)">
              <span id="span">{{tipo_1}}</span>
            </button>
            <button class="boton-flotante" id="tipo1" (click)="click(tipo_2)">
              <span id="span">{{tipo_2}}</span>
            </button>
            <button class="boton-flotante" id="tipo2" (click)="click(tipo_3)">
              <span id="span">{{tipo_3}}</span>
            </button>
          </div>
        </div>

        <button class="boton-flotante" id="tipo4" (click)="cartoon()">
          <span id="span">{{nombre}}</span>
        </button>
        <button class="boton-flotante" id="animacion" (click)="animacion()">
          <span id="span">ANIMACIÓN</span>
        </button>

      </div>
      <canvas id="canvas" width="1800" height="1000" style="width:100%; height:100%;"></canvas>
      <!-- TEXTO MOTOR -->
      <!-- creamos los contenedores para mostrar el tipo de mutilacion y una breve descripcion -->
      <div id="overlay">
        <div>
          <span id="titulo"></span>
          <span id="descripcion"></span>
        </div>
      </div>
    </div>
  </div>
