<div *ngIf="error">
  <app-error></app-error>
</div>
<div *ngIf="!error">
  <app-header></app-header>

  <h3>Aula virtual</h3>
  <button
    class="btn-relleno"
    type="button"
    name="button"
    style="display:block; margin:auto;">
    Descargar modelo 3D
  </button>

  <div class="divBlanco bgColorWhite">
    <div class="buttons-canvas">
      <div class="buttons-canvas-left">
        <button class="btn-relleno-negro" type="button" name="button">Tipo 1</button>
        <button class="btn-relleno-negro" type="button" name="button">Tipo 2</button>
        <button class="btn-relleno-negro" type="button" name="button">Tipo 3</button>
      </div>
      <div class="buttons-canvas-right">
        <button class="btn-relleno-negro" type="button" name="button">Real</button>
        <button class="btn-relleno-negro" type="button" name="button">Cartoon</button>
      </div>
    </div>
    <canvas style="border: 2px; dotted blue;" id="canvas"></canvas>
  </div>
  <app-footer></app-footer>
</div>
