<div *ngIf="error">
  <app-error></app-error>
</div>
<div *ngIf="!error">
  <app-header></app-header>
  <!-- <button [routerLink]="['/home']"type="button" name="button" class="btn-return textoBlanco icon-return">
  </button> -->
<div class="gridContainer">
  <div class="headerMisExp">
    <div class="desplegableContainer">
      <button class="btn-relleno" id="btn-options" (click)="mostrarOpciones()">NUEVO</button>
      <br>
      <div id="desplegable" class="desplegableButton">
        <a [routerLink]="['/expediente']"><div class="expOpt">
          <p class="text12">Expediente</p>
        </div></a>
        <a style="cursor:pointer" id="myBtnDeleteExp" (click)="openPopUp()"><div class="carOpt">
          <p class="text12">Carpeta</p>
        </div></a>
      </div>
    </div>

    <div class="optionsRight" >
      <p (click) = "cambio(1)" id="arb"> Arbol |</p>
      <p (click) = "cambio(2)" id="priv"> Privados </p>
      <p>  | </p>
      <p (click) = "cambio(3)" id=publ> Publicos</p>
      <p (click) = "cambio(4)" id="todos"> |Todos </p>
    </div>
  </div>

<div class="lateralSearch">
  <form (ngSubmit)="buscar(1,10)">
    <!-- <div class="divLabelsDeUnoSearch">
           <div class="divExpDeUnoSearch">
            <label for="titulo">Titulo</label>
           </div>
        <div class="divExpDeUnoSearch">
          <input class="inputSearch" [(ngModel)]="Filtros.Titulo" type="text" placeholder="Título" name="Titulo" id="titulo">
          <br>
        </div>
      </div> -->
    <div class="divLabelsDeUnoSearch">

      <div class="inputSearchDiv">
        <img src="../assets/img/SearchIcon.png"/>
        <input class="inputSearch" [(ngModel)]="Filtros.Titulo" type="text" placeholder="Título del expediente" name="Titulo" id="titulo">
        <br>
      </div>
    </div>

    <div class="divLabelsDeUnoSearch">
      <div class="divExpDeUnoSearch">
        <label for="f1">Desde</label>
      </div>
      <div class="divExpDeUnoSearch">
        <input class="sizeinput" [(ngModel)]="Filtros.Fecha1" data-date-inline-picker="true" type="date" id="f1" name="Fecha1">
        <br>
      </div>
    </div>

    <div class="divLabelsDeUnoSearch">
      <div class="divExpDeUnoSearch">
        <label for="f2">Hasta</label>
      </div>
      <div class="divExpDeUnoSearch">
        <input class="sizeinput" [(ngModel)]="Filtros.Fecha2" data-date-inline-picker="true" type="date" id="f2" name="Fecha2">
        <br>
      </div>
    </div>

    <div class="lineaSearch"></div>
    <br>

    <div class="divLabelsDeUnoSearch">
      <div class="divExpDeUnoSearch">
        <label for="lugar">Lugar de detección</label>
      </div>
      <div class="divExpDeUnoSearch">
        <input class="sizeinput" [(ngModel)]="Filtros.Lugar" type="text" id="lugar" name="Lugar">
        <br>
      </div>
    </div>

    <div class="divLabelsDeUnoSearch">
      <div class="divExpDeUnoSearch">
        <label for="etnia">Etnia de origen</label>
      </div>
      <div class="divExpDeUnoSearch">
        <select class="sizeinput" [(ngModel)]="Filtros.Etnia" name="Etnia">
          <option value="0">Seleccione la etnia</option>
          <option *ngFor="let e of etnias" [value]="e.ID_Etnias">{{e.Etnia}}</option>
        </select>
        <br>
      </div>
    </div>

    <div class="divLabelsDeUnoSearch">
      <div class="divExpDeUnoSearch">
        <label for="tipoMGF">Tipo de MGF</label>
      </div>
      <div class="divExpDeUnoSearch">
        <select class="sizeinput" [(ngModel)]="Filtros.TipoMGF" name="TipoMGF">
          <option value="0">Seleccione el tipo de MGF</option>
          <option *ngFor="let t of tiposMGF" [value]="t.ID_Mutilacion">{{t.Nombre}} {{t.Tipo}}</option>
        </select>
      </div>
    </div>
    <br>
    <br>

    <div class="SubmitSearch">
      <button class="btn-relleno" type="submit" name="button">Buscar</button>
    </div>
  </form>
</div>

<!-- TODO:  Version CARLOS => Todo dentro del mismo for por temas de API ademas se reduce el codigo -->
<div class="carpetasDivContainer">
  <div class="carpetasDiv">
  <!-- TODO: Lo suyo seria poner la ruta en la que estas -->
    <p *ngIf="tipoExp == 1"><span (click)="getRaizUser(idU)">Raiz /</span><span *ngFor="let r of NameRuta" (click)="getCarpeta(r.ID_Carpeta)">{{r.Nombre}} / </span></p>
  </div>

  <!-- Mensaje de que no tienes nada almacenado -->
  <div *ngIf="contenido.length == 0 && busqueda==false" id="alert">{{mensaje}}</div>
  <!-- Mensaje de que no hay resultados de busqueda -->
  <div *ngIf="busqueda == true" id="alert">{{mensaje}}</div>

  <div class="expediente-container">
    <div *ngFor="let c of contenido" class="carpeta" >
      <div *ngIf="c.Tipo == 0">
        <!-- TODO: Carpetas -->
          <div class="imgCircle" (click) = "getCarpeta(c.ID_Gestor, c.Nombre)">
            <img class="imgExp" src="/assets/img/carpeta.png" alt="logo carpeta">
          </div>
          <div class="expediente-body">
            <p>{{c.Nombre}}</p>
          </div>

          <div class="imgOptions">
              <img (click)="mostrarOpThreePoints()" class="optionPoints" src="/assets/img/ThreePointsIcon.png" alt="Opciones">
              <div class="menuOp" id="menuOp3">
                <p class="text12">Editar</p>
                <p (click)="borrarCarpeta(c.ID_Gestor)" class="text12">Borrar</p>
              </div>
          </div>
      </div>

      <div *ngIf="c.Tipo != 0" [routerLink]="['/verexpediente', {id:c.ID_Expediente}]">
        <!-- TODO: Esxpedientes -->
        <div class="expediente-body">
          <p>{{c.ID_Expediente}}</p>
          <p class="fechaExp">{{c.ID_Lugar}}</p>
          <p class="fechaExp">Edad {{c.Edad}}</p>
          <div class="statusExp">
            <svg height="20" width="120">
              <circle cx="110" cy="10" r="5" fill="red" />
              Sorry, your browser does not support inline SVG.
            </svg>
          </div>
          <!-- <p class="fechaExp">{{e.Fecha.split('T')[0]}}</p> -->
          <!-- <button class="btn-border" style="margin-top:5%" [routerLink]="['/verexpediente', {id:e.ID_Expediente}]"> Ver más</button> -->
        </div>

      </div>
    </div>
  </div>

  <div class="paginationContainer">
    <!-- TODO: paginacion -->
    <ul class="pagination" *ngIf="paginas.length >1">
      <!--Boton de pagina anterior-->
      <li>
        <a (click)="pasarPagina(pagBack)">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li *ngFor="let pag of paginas; let i=index">
        <a (click)="pasarPagina(i+1)">
          <span *ngIf="(i+1)==pagActual" class="active">{{i+1}}</span>
          <span *ngIf="(i+1)!=pagActual" >{{i+1}}</span>
        </a>
      </li>
      <!--Boton de pagina siguiente-->
      <li>
        <a (click)="pasarPagina(pagNext);">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="popUpBorrar" id="popupBorrarExp">
  <div class="popupBorrar-contentExp">
    <span id="closeExp">&times;</span>
    <div class="insidePopExp">
      <p>Crear nueva carpeta</p>
      <input placeholder="Nombre" class="sizeinput" type="text" #nombre>
      <br>
    </div>
    <button class="btn-relleno" (click)="nuevaCarpeta(nombre.value)">CREAR</button>
    <button class="btn-border" id="noBorrarExp" type="submit" [routerLink]="['/misexpedientes']" name="button">CANCELAR</button>
  </div>
</div>

<!-- TODO: Fin version 2 -->

<!-- <div class="carpetasDivContainer">
  <div class="carpetasDiv">
    <p>Carpetas</p>
  </div> -->
  <!-- Mensaje de que no tienes nada almacenado -->
  <!-- <div *ngIf="carpetas.length ==0 && busqueda==false" id="alert">{{mensaje}}</div> -->
  <!-- Mensaje de que no hay resultados de busqueda -->
  <!-- <div *ngIf="busqueda==true" id="alert">{{mensaje}}</div> -->
  <!-- <div *ngIf="carpetas.length>0" class="expediente-container">

    <br>
    <div  *ngFor="let c of carpetas" class="carpeta"> -->
      <!-- <p>{{e.Descripcion.split("'")[1]}}</p>
      <div class="expedienteDesc">
      <div class="imgCircle">
        <img class="imgExp" src="/assets/img/carpeta.png" alt="Logo expediente">
      </div>
      <!-- </div> -->
      <!-- <div class="expediente-body">
        <p>{{c.Nombre}}</p> -->

        <!-- <p class="fechaExp">{{c.Fecha.split('T')[0]}}</p> -->
        <!-- <button class="btn-border" style="margin-top:5%" [routerLink]="['/verexpediente', {id:e.ID_Expediente}]"> Ver más</button> -->
      <!-- </div>
      <div class="imgOptions">

          <img (click)="mostrarOpThreePoints()" class="optionPoints" src="/assets/img/ThreePointsIcon.png" alt="Opciones">
          <div class="menuOp" id="menuOp3">
            <p class="text12">Editar</p>
            <p (click)="borrarCarpeta(c.ID_Carpeta)" class="text12">Borrar</p>
          </div>
      </div>
    </div>
  </div> -->



  <!-- <div *ngIf="carpetas.length > 0">

    <p *ngFor="let c of carpetas">
        <span>{{c.Nombre}}</span>
        <button (click)="borrarCarpeta(c.ID_Carpeta)">Borrar carpeta </button>
    </p>
  </div> -->




  <!-- <div class="popUpBorrar" id="popupBorrarExp">
  <div class="popupBorrar-contentExp">
  <span id="closeExp">&times;</span>
  <div class="insidePopExp">
  <p>Crear nueva carpeta</p>
  <input placeholder="Nombre" class="sizeinput" type="text" #nombre>
  <br>
</div>
<button class="btn-relleno" (click)="nuevaCarpeta(nombre.value)">CREAR</button>
<button class="btn-border" id="noBorrarExp" type="submit" [routerLink]="['/misexpedientes']" name="button">CANCELAR</button>

</div>
</div>

<ul class="pagination" *ngIf="paginas.length >1 && expedientes.length "> -->
<!--Boton de pagina anterior-->
    <!-- <li>
      <a (click)="pasarPagina(pagBack)">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li *ngFor="let pag of paginas; let i=index">
      <a (click)="pasarPagina(i+1)">
        <span *ngIf="(i+1)==pagActual" class="active">{{i+1}}</span>
        <span *ngIf="(i+1)!=pagActual" >{{i+1}}</span>
      </a>
    </li> -->
    <!--Boton de pagina siguiente-->
    <!-- <li>
      <a (click)="pasarPagina(pagNext);">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</div>


<div class="expedientesDiv">
  <div class="carpetasDiv">
    <p>Expedientes</p>
  </div> -->
  <!-- Mensaje de que no tienes nada almacenado -->
  <!-- <div *ngIf="expedientes.length ==0 && busqueda==false" id="alert">{{mensaje}}</div> -->
  <!-- Mensaje de que no hay resultados de busqueda -->
  <!-- <div *ngIf="busqueda==true" id="alert">{{mensaje}}</div> -->
  <!-- <div *ngIf="expedientes.length>0" class="expediente-container">

    <br>
    <div  *ngFor="let e of expedientes" class="expediente" [routerLink]="['/', {id:e.ID_Expediente}]"> -->

      <!-- <div class="imgCircle">
        <img class="imgExp" src="/assets/img/Expediente.png" alt="Logo expediente">
      </div> -->

      <!-- <div class="expediente-body">
        <p>{{e.ID_Expediente}}</p>
        <p class="fechaExp">{{e.ID_Lugar}}</p>
        <p class="fechaExp">Edad {{e.Edad}}</p>
        <div class="statusExp">
          <svg height="20" width="120">
            <circle cx="110" cy="10" r="5" fill="red" />
            Sorry, your browser does not support inline SVG.
          </svg>
        </div> -->
        <!-- <p class="fechaExp">{{e.Fecha.split('T')[0]}}</p> -->
        <!-- <button class="btn-border" style="margin-top:5%" [routerLink]="['/verexpediente', {id:e.ID_Expediente}]"> Ver más</button> -->
      <!-- </div>
    </div>
  </div>

  <div class="popUpBorrar" id="popupBorrarExp">
    <div class="popupBorrar-contentExp">
      <span id="closeExp">&times;</span>
      <div class="insidePopExp">
        <p>Crear nueva carpeta</p>
        <input placeholder="Nombre" class="sizeinput" type="text" id="nombre">
        <br>
        </div>
        <button class="btn-relleno" (click)="nuevaCarpeta(nombre.value)">CREAR</button>
        <button class="btn-border" id="noBorrarExp" type="submit" [routerLink]="['/misexpedientes']" name="button">CANCELAR</button>

    </div>
  </div>

  <ul class="pagination" *ngIf="paginas.length >1 && expedientes.length ">-->
  <!--Boton de pagina anterior-->
    <!-- <li>
      <a (click)="pasarPagina(pagBack)">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li *ngFor="let pag of paginas; let i=index">
      <a (click)="pasarPagina(i+1)">
        <span *ngIf="(i+1)==pagActual" class="active">{{i+1}}</span>
        <span *ngIf="(i+1)!=pagActual" >{{i+1}}</span>
      </a>
    </li> -->
    <!--Boton de pagina siguiente-->
    <!-- <li>
      <a (click)="pasarPagina(pagNext);">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</div>

<div class="paginationContainer">
</div> -->



</div>
</div>
 <app-footer></app-footer>
