<div class="header bgColorBlack">
  <a href="/"><img src="../assets/img/LogoAishaLadoCherry.png" alt="LogoAisha"></a>
  <div class="notification bgColorPink">
    <p class="textDarkenWhite">3</p>
  </div>
  <label for="perfilTrigger">
    <img src="../../assets/img/user.png" alt="">
  </label>
</div>

<input id="perfilTrigger" type="checkbox">

<div class="infoDivPerfil">
  <div class="options">
    <p class="DivOption text16"><b>Lara González</b></p> <!--Aqui va el nombre del usuario que inicia sesion-->
    <p class="DivOption">Comentarios<p>
    <p class="numberOption text12 textGreyDarken">20<p>
    <p class="DivOption">Mensajes</p>
    <p class="numberOption text12 textGreyDarken">15<p>
    <p class="DivOption">Permisos</p>
    <p class="numberOption text12 textGreyDarken">0<p>
    <p class="DivOption textGreyDarken">Idioma</p>
    <p [routerLink]="['/user/profile']" class="DivOption textGreyDarken">Editar Perfil</p>
    <!--<p class="DivOption textGreyDarken pointer">Cerrar Sesión</p>-->
    <button (click)="logout();" type="button" name="button" class="DivOptionLogout textGreyDarken">Cerrar Sesión</button>
  </div>
  <img class="divPerfil" src="../../assets/img/DivPerfil.png" alt="">
</div>
