<app-lateralOptions></app-lateralOptions>

<h1>Asociaciones</h1>
<hr><br>
<div >
  <div >

    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre Asociación</th>
          <th scope="col">Email</th>
          <th scope="col">CIF</th>
          <th class="text-right" scope="col">Opciones</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let k of asociacion | keys; let i = index;">
          <!-- <td>{{i+1}}</td> -->
          <td>{{asociacion[k].ID_Asocioacion}}</td>
          <td>{{asociacion[k].Nombre}}</td>
          <td>{{asociacion[k].Email}}</td>
          <td>{{asociacion[k].CIF}}</td>
          <td class="text-right w230">
            <button type="button" class="btn btn-outline-success span">
              <span class="icon-ok"></span>
            </button>
            <button type="button" class="btn btn-outline-danger span"
                    (click)="delete(asociacion[k].ID_Asocioacion)">
              <span class="icon-cancel"></span>
            </button>
            <button type="button" class="btn btn-outline-danger span">
              <span class="icon-mail"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div  *ngIf="(asociacion | keys).length === 0 && !loading"
          class="alert alert-info" role="alert">
      <strong>No hay</strong> registros que mostrar
    </div>

    <div  *ngIf="loading"
          class="alert alert-info" role="alert">
      <strong>Cargando...</strong>por favor espere
    </div>

  </div>

</div>
