<h1>Asociaciones</h1>
<hr>

<br>

<div >

  <div >
    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre Asociación</th>
          <th scope="col">Email</th>
          <th class="text-right" scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let k of asociacion | keys; let i = index;">
          <!-- <td>{{i+1}}</td> -->
          <td>{{asociacion[k].ID_Asocioacion}}</td>
          <td>{{asociacion[k].Nombre}}</td>
          <td>{{asociacion[k].Email}}</td>
          <td class="text-right w230">
            <button type="button" class="btn btn-outline-success">Aceptar</button>
            <button type="button" class="btn btn-outline-danger">Borrar</button>

          </td>
        </tr>
      </tbody>
    </table>

    <div  *ngIf="(asociacion | keys).length === 0 && !loading"
          class="alert alert-info" role="alert">
      <strong>No hay</strong> registros que mostrar
    </div>

    <div  *ngIf="loading"
          class="alert alert-info" role="alert">
      <strong>Cargando...</strong>por favor espere
    </div>

  </div>

</div>
