<div class="divAdmin-content">
  <h1>Usuarios</h1>
  <div>
    <button type="button" name="button" class="btn-relleno-negro"
            style="margin-bottom: 2%;" (click)="view(0)">
            Solicitantes
    </button>
    <button type="button" name="button" class="btn-relleno-negro"
            style="margin-bottom: 2%;" (click)="view(1)">
            Registrados
    </button>
    <button type="button" name="button" class="btn-relleno-negro"
            style="margin-bottom: 2%;" (click)="view(2)">
            Cancelados
    </button>
  </div>
  <hr><br>

  <div >
    <a name="arriba"></a>
    <div id="alert">{{mensaje}}</div>
    <div>
      <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="usuarios">
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.ID_Usuario}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Nombre.split("'")[1]}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Email.split("'")[1]}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="profesion">
            <mat-header-cell *matHeaderCellDef> Profesión </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.Profesion}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="asociacion">
            <mat-header-cell *matHeaderCellDef> Asociación </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.Asociacion.split("'")[1]}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="opciones">
            <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button type="button" class="btn btn-outline-danger icon-cancel span"
                      (click)="cancelUser(element.ID_Usuario)"
                      title="Cancelar Usuario">
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
      <!-- PAGINACION -->
   <ul class="pagination" *ngIf="paginas.length >1">
   <!--Boton de pagina anterior-->
     <li>
       <a (click)="pasarPagina(pagBack)">
         <span aria-hidden="true">&laquo;</span>
       </a>
     </li>
     <li *ngFor="let pag of paginas; let i=index">
       <a (click)="pasarPagina(i+1)">
         <span *ngIf="(i+1)==pagActual" class="active">{{i+1}}</span>
         <span *ngIf="(i+1)!=pagActual" >{{i+1}}</span>
       </a>
     </li>
     <!--Boton de pagina siguiente-->
     <li>
       <a (click)="pasarPagina(pagNext);">
         <span aria-hidden="true">&raquo;</span>
       </a>
     </li>
   </ul>

      <div  *ngIf="(user | keys).length === 0 && !loading"
            class="alert alert-info" role="alert">
        <strong>No hay</strong> registros que mostrar
      </div>

      <div  *ngIf="loading"
            class="alert alert-info" role="alert">
        <strong>Cargando...</strong>por favor espere
      </div>

    </div>

  </div>
</div>
