<div style="display: inline-flex; margin: 1%; margin-top: 25%;">
  <div style="width: 48%;">
    <img src="assets/img/AishaTriste.png"
      alt="Aisha error"
      style="width: 100%;">
  </div>
  <div style="width: 48%;">
    <p>Error: URL incorrecta</p>
    <p style="margin-top:2%;">Es posible que no tengas permisos para acceder a la URL introducida</p>
    <button
      type="button"
      name="button"
      class="btn-registro-principal"
      [routerLink]="['/principal']"
      style="float: none; margin-right: 0;">
      PÁGINA PRINCIPAL
    </button>
  </div>
</div>
