<div class="header bgColorBlack">
  <a [routerLink]="['/principal']" (click)="activo(0)"><img src="../assets/img/AishaCherry.png" id="0" alt="LogoAisha"></a>

<div class="menuNav" id="myTopnav">
  <a [routerLink]="['/admin']" (click)="activo(4)" id="4" class="">Home</a>
  <a [routerLink]="['/recursos']" (click)="activo(1)" id="1" class="">Recursos</a>
  <a [routerLink]="['/bibexpedientes']" (click)="activo(2)" id="2" class="">Expedientes</a>
  <a [routerLink]="['/aulavirtual']" (click)="activo(3)" id="3" class="">Aula Virtual</a>
  <a (click)="cerrarSesion();" style="float:right;">Cerrar Sesión</a>

  <a href="javascript:void(0);" class="icon" (click)="myFunction()">&#9776;</a>
</div>
</div>
