<div class="headerPrincipal">
  <header>
    <img class="logoPrincipal" src="../assets/img/AishaLogo.png" alt="">
  </header>

  <p class="language">ES | EN</p>
  <button type="submit" name="button" class="btn-fill registro" [routerLink]="['/registro']">REGISTRO</button>
  <button type="submit" name="button" class="btn-border login" [routerLink]="['/login']">INICIA SESIÓN</button>
</div>


<div class="carrousel">
  <img  class="imgCarrousel" src="../assets/img/Carrousel.png" alt="">
</div>


<div class="Eslogan">
  <p>La red de profesionales a nivel mundial que cambiará la vida
    de muchas personas.</p>
  <div class="lineaEslogan"></div>
</div>


<button type="submit" name="button" class="btn-border verMas">VER MÁS</button>

<div class="noticias">


  <div class="noticia">
    <h1 class="noticiasText">NOTICIAS</h1>
    <img src="../assets/img/noticia1.png" alt="">
    <p class="noticiaTitle">NOTICIA 1</p>
    <div class="lineaNoticia"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus ullamcorper suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div class="noticia">
      <img src="../assets/img/noticia2.png" alt="">
      <p class="noticiaTitle">NOTICIA 2</p>
      <div class="lineaNoticia"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus ullamcorper suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div class="noticia">
      <img src="../assets/img/noticia3.png" alt="">
      <p class="noticiaTitle">NOTICIA 3</p>
      <div class="lineaNoticia"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus ullamcorper suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>

</div>

<div class="suscripcionbg">
  <div class="suscripcion">
    <h1>SI QUIERES QUE TE MANTENGAMOS INFORMADO SUSCRÍBETE A NUESTRO <b>CANAL</b></h1>
    <button type="submit" name="button" class="btn-fill suscribirse">SUSCRIBIRSE</button>
  </div>
</div>


<div class=recursosDiv>
  <h1 class="recursosText">RECURSOS <b>MULTIMEDIA</b></h1>
  <div class="recurso">
  
    <div class="divRecurso">

      <img style="width:50px" class="recursoIcon" src="../assets/img/pdf.png" alt="">
      <div class="textoRecursos">
        <p>Informes en formato <b>PDF</b></p>
        <p style="color:#8B8B8B; font-size:12px;">Consulta y descarga los informes de los casos.</p>
      </div>
    </div>

  </div>
  <div class="recurso">
    <div class="divRecurso">
      <img style="width:70px"class="estadisticaIcon" src="../assets/img/estadisticas.png" alt="">
      <div class="textoRecursos">
        <p>Estadísticas de <b>casos</b></p>
        <p style="color:#8B8B8B; font-size:12px;">Compara y estudia los diferentes casos alrededor del mundo.</p>
      </div>
    </div>

  </div>
  <div class="recurso">
    <div class="divRecurso">
      <img style="width:70px" class="recursoIcon" src="../assets/img/ModeloIcon.png" alt="">
      <div class="textoRecursos">
        <p>Modelo 3D de <b>formación</b></p>
        <p style="color:#8B8B8B; font-size:12px;">Interactúa con un modelo de mutilación genital femenina.</p>
      </div>
    </div>

  </div>
</div>

<app-footer></app-footer>
