<div *ngIf="error">
  <app-error></app-error>
</div>
<div *ngIf="!error">
  <app-header></app-header>

  <h3>Biblioteca de Recursos</h3>
  <button
    [routerLink]="['/recurso']"
    class="btn-fill text12 textPink"
    type="button"
    name="button">
    Añadir recurso
  </button>

  <div class="recursos-container">
    <div *ngFor="let r of recursos" class="recurso-item">
      <div class="recurso-info">
        <img class="imgExp" src="/assets/img/pdf.png" alt="Logo recurso" style="width: 50%;">
        <p>{{r.Descripcion.split("'")[1]}}</p>
      </div>
      <div>
        <p>{{r.Titulo.split("'")[1]}}</p>
        <p class="textGreyDarken text12">{{r.Nombre}}</p>
        <button class="btn-border bgColorPink">Descargar</button>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
