<div *ngIf="error">
  <app-error></app-error>
</div>
<div *ngIf="!error">
  <app-header></app-header>
  <button [routerLink]="['/home']"type="button" name="button" class="btn-return textoBlanco icon-return">
  </button>
  <button
    style="margin:2%;"
    [routerLink]="['/recurso']"
    class="btn-fill text12 textPink"
    type="button"
    name="button">
    Añadir recurso
  </button>
  <div class="recursos-container-filter">
    <div style="padding: 20px; display:inline-flex">
      <p id="propios" (click)="mostrar(1)">Subidos por mí</p>
      <p style="margin:0px 5px 0px 5px;">|</p>
      <p id="publicos" (click)="mostrar(2)">Públicos</p>
    </div>

    <div class="">
      <select class="lineaCampo" name="formatos" id="formatos">
        <option *ngFor="let k of formatos | keys;" value="{{formatos[k].ID_Formato}}">
          {{formatos[k].Nombre}}
        </option>
      </select>
    </div>

    <form (ngSubmit)="buscar()" #forma="ngForm">
      <input
        id="fieldSearch"
        class="lineaCampo"
        type="text"
        name="fieldSearch"
        placeholder="Buscar recurso..."
        [(ngModel)]="fieldSearch"
        style="width:80%;"/>
        <button
          style="background:none; border:none; padding:0; font-size:15px;"
          type="submit"
          class="pointer icon-search">
        </button>
      </form>
  </div>

  <div *ngIf="recursos.Resultado !== 'ERROR'" class="recursos-container">
    <div *ngFor="let r of recursos;"  class="recurso-item">
      <div class="recurso-info">
        <img *ngIf="r.ID_Formato === 1" class="imgExp" src="/assets/img/pdf.png" alt="Logo pdf" style="width: 50%;">
        <img *ngIf="r.ID_Formato === 2 || r.ID_Formato === 3" class="imgExp" src="/assets/img/ImgIcon2.png" alt="Logo ppt" style="width: 50%;">
        <img *ngIf="r.ID_Formato === 4" class="imgExp" src="/assets/img/VideoIcon.png" alt="Logo video" style="width: 50%;">
        <img *ngIf="r.ID_Formato === 5" class="imgExp" src="/assets/img/PPTIcon.png" alt="Logo imagen" style="width: 50%;">
        <p>{{r.Descripcion.split("'")[1]}}</p>
      </div>
      <div>
        <p>{{r.Titulo.split("'")[1]}}</p>
        <p class="textGreyDarken text12">{{r.Nombre}}</p>
        <button class="btn-border bgColorPink">Descargar</button>
      </div>
    </div>
  </div>

  <div *ngIf="recursos.Resultado === 'ERROR'" class="recursos-container">
    <p>{{recursos.Descripcion}}</p>
  </div>

  <!-- PAGINACION -->
  <ul class="pagination" *ngIf="paginas.length>1">
  <!--Boton de pagina anterior-->
    <li>
      <a (click)="pasarPagina(pagBack)">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li *ngFor="let pag of paginas; let i=index">
      <a (click)="pasarPagina(i+1)">
        <span *ngIf="(i+1)==pagActual" class="active">{{i+1}}</span>
        <span *ngIf="(i+1)!=pagActual" >{{i+1}}</span>
      </a>
    </li>
    <!--Boton de pagina siguiente-->
    <li>
      <a (click)="pasarPagina(pagNext);">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>

  <app-footer></app-footer>
</div>
