form{
  background-color: white;
  padding: 0;
}
 form>div{
   display: block;
   width: 100%;
   overflow: hidden;
   margin-bottom: 2%;
   padding: 0;
   text-align: left;
 }

 hr{
   margin: 15px 0;
 }
