form{
  background-color: white;
  padding: 0;
}
 form>div{
   display: block;
   width: 100%;
   overflow: hidden;
   margin-bottom: 2%;
   padding: 0;
   text-align: left;
 }

 hr{
   margin: 15px 0;
 }

 .cherry{
   padding:10px 0px;
   color: #880042;
   margin: 0;
   text-align: center;
 }

 h2{
   color: #880042;
   margin-top: 0;
   margin-bottom: 2%;

 }
 h2>span{
   float:right;
 }

 .grupoForm{
   display: block;
   overflow: hidden;
   border-bottom: thin #234;
   padding-bottom: 2%;
 }

.divExp{
  margin-bottom: 5px;
}

option{
  width: 140px;
}
#selectOption{
  color:gray;
  font-style: italic;
}

 #edadM, #edadMa, #edadPa{
   width: 40px;
 }

 #fechaC, #etniaM, #etniaMa, #etniaPa, #actividadM, #actividadP{
   width: 140px;
 }

 #otrosA{
   width: 235px;
 }
