
<!-- TODO: Cambiar la funcion a guardarDatos() para que se almecene la informacion en la
base de datos.
El metodo que hay ahora es para probar que pilla bien los valores de 0 y 1 -->
<form [formGroup]="form" (ngSubmit)="guardarDatos2()">
  <div class="grupoForm">
    <h2 class="cherry">INFORMACIÓN BÁSICA SOBRE EL EXPEDIENTE</h2>

    <div class="divLabels">
    <!-- <div class="divExp">
        <label for="titulo">Título</label>--> <!-- num caso, guion etnia origen guion tipo de mutilacion-->
      <!--  <span matTooltip="Título que le permita identificar rápidamente este expediente." class="pointer icon-info info"></span>
        <input [(ngModel)]="expediente.Titulo" type="text" name="titulo" id="titulo" formControlName="titulo">
      </div>-->

      <div class="divExp">
        <label for=fechaC>Fecha de detección del caso:</label>
      </div>

      <div class="divExp">
        <input [(ngModel)]="expediente.Fecha" type="date"  name="fechaC" formControlName="fechaC" id="fechaC" >
      </div>


      <div class="divExp">
        <label for="lugarD">Lugar de detección:</label>
      </div>

      <div class="divExp">
        <input [(ngModel)]="expediente.ID_Lugar" type="text" placeholder="Lugar"  name="lugarD" formControlName="lugarD" id="lugarD" >
      </div>
    </div>

    <label for="descripcion">Breve descripción:</label>
    <textarea class="textareaBl2" [(ngModel)]="expediente.Descripcion" type="text"  placeholder="Escribe una breve descripción..."  name="descripcion" id="descripcion" formControlName="descripcion"></textarea>
  </div>

  <!--<hr>-->
  <h2 class="cherry ">DATOS SOCIODEMOGRÁFICOS</h2>
  <div class="grupoForm" formGroupName = "menor">

  <!-- DATOS DE LA MENOR INVOLUCRADA EN EL EXPEDIENTE-->
    <h2 class="text16 textPink">DATOS SOBRE LA VÍCTIMA</h2>
    <div class="divLabels">
      <div class="divExp">
        <label for="nombreM">Nombre completo:</label>
      </div>

      <div class="divExp">
        <input [(ngModel)]="menor.Nombre" type="text" id="nombreM" placeholder="Nombre" formControlName="nombre">
      </div>

      <div class="divExp">
        <label for="etniaM">Etina de origen:</label>
      </div>

      <div class="divExp">
        <select [(ngModel)]='menor.ID_Etnia' id="etniaM" formControlName="etnia">
          <option value="0" id="selectOption">Selecciona una etnia de procedencia</option>
          <option *ngFor="let e of etnias" value="{{e.ID_Etnias}}">{{e.Etnia}}</option>
        </select>
      </div>
    </div>

    <div class="divLabels">
      <div class="divExp">
        <label class="edad" for="edadM">Edad:</label>
      </div>

      <div class="divExp">
        <input [(ngModel)]="menor.Edad" max="99" type="number" id="edadM" formControlName="edad">
      </div>

      <div class="divExp">
        <label  for="lugarN">Lugar de nacimiento:</label>
      </div>

      <div class="divExp">
        <input [(ngModel)]="menor.ID_Lugar" type="text" id="lugarN" name="lugarN" placeholder="Lugar" formControlName="lugarN">
      </div>
    </div>
  </div>
  <!-- <hr> -->

<!-- DATOS SOBRE LA MADRE DE LA MENOR INVOLUCRADA EN EL EXPEDIENTE-->
  <div class="grupoForm" formGroupName="madre">
    <h2 class="text16 textPink">DATOS SOBRE LA MADRE
      <span *ngIf="HayMadre==false" (click)="HayMadre = !HayMadre" class="pointer icon-plus"></span>
      <span *ngIf="HayMadre==true" (click)="HayMadre = !HayMadre" class="pointer icon-minus"></span>
    </h2>
    <div *ngIf="HayMadre==true">

      <div class="divLabels">
        <div class="divExp">
          <label for="nombreMa">Nombre de la madre</label>
        </div>

        <div class="divExp">
          <input [(ngModel)]="madre.Nombre" required type="text" id="nombreMa" placeholder="Nombre" formControlName="nombre" >
        </div>

        <div class="divExp">
          <label for="actividadM">Actividad laboral</label>
        </div>

        <div class="divExp">
          <select [(ngModel)]="madre.ID_Actividad" id="actividadM" formControlName="actividad">
            <option value="">Desconoce la actividad</option>
            <option *ngFor="let a of actividades" value="{{a.ID_Actividad}}" id="actividadM">{{a.Nombre}}</option>
          </select>
        </div>
      </div>

      <div class="divLabels">
        <div class="divExp">
          <label for="lugarNM">Lugar de nacimiento</label>
        </div>

        <div class="divExp">
          <input [(ngModel)]="madre.ID_Lugar" type="text" id="lugarNM" name="lugarNM" placeholder="Lugar" formControlName="lugarN">
        </div>

        <div class="divExp">
          <label for="etniaMa">Etina de origen</label>
        </div>

        <div class="divExp">
          <select [(ngModel)]="madre.ID_Etnia" id="etniaMa" formControlName="etnia">
            <option>Selecciona una etnia de procedencia</option>
            <option *ngFor="let e of etnias" value="{{e.ID_Etnias}}">{{e.Etnia}}</option>
          </select>
        </div>
      </div>

      <div class="divLabelsDeUno">
        <div class="divExpDeUno">
          <label for="edadMa">Edad</label>
        </div>

        <div class="divExpDeUno">
          <input [(ngModel)]="madre.Edad" type="number" id="edadMa" formControlName="edad">
        </div>
      </div>
    </div>
  </div>

  <!-- <hr> -->

<!-- DATOS SOBRE EL PADRE DE LA MENOR INVOLUCRADA EN EL EXPEDIENTE -->
  <div class="grupoForm"  formGroupName="padre">
    <h2 class="text16 textPink">DATOS SOBRE EL PADRE
      <span  *ngIf="HayPadre == false" (click)="HayPadre = !HayPadre" class="icon-plus" style="padding : 3px"></span>
      <span *ngIf="HayPadre == true" (click)="HayPadre = !HayPadre" class="icon-minus" style="padding : 3px"></span>
    </h2>
    <div *ngIf="HayPadre==true">

    <div class="divLabels">
      <div class="divExp">
        <label for="nombrePa">Nombre del padre</label>
      </div>

      <div class="divExp">
        <input [(ngModel)]="padre.Nombre" required type="text" id="nombrePa" placeholder="Nombre" formControlName="nombre">
      </div>

      <div class="divExp">
        <label for="actividadP">Actividad laboral</label>
      </div>

      <div class="divExp">
        <select [(ngModel)]="padre.ID_Actividad" id="actividadP" formControlName="actividadP" formControlName="actividad">
          <option value="">Desconoce la actividad</option>
          <option *ngFor="let a of actividades" value="{{a.ID_Actividad}}" id="actividadP">{{a.Nombre}}</option>
        </select>
      </div>
    </div>
    <!--REVISAR PORQUE SE SELECCIONAN LAS DOS OPCIONES -->
      <!-- <div>
        <label>Sexo:</label>
        <label for="mujer3">Mujer</label>
        <input [(ngModel)]="padre.ID_Sexo" type="radio" name="sexo3" value="1" id="mujer3" formControlName="sexo3">
        <label for="hombre3">Hombre</label>
        <input [(ngModel)]="padre.ID_Sexo" type="radio" name="sexo3" value="2" id="hombre3" formControlName="sexo3">
      </div> -->
    <div class="divLabels">
      <div class="divExp">
        <label for="lugarNP">Lugar de nacimiento</label>
      </div>

      <div class="divExp">
        <input  [(ngModel)]="padre.ID_Lugar" type="text" id="lugarNP" name="lugarNP" placeholder="Lugar" formControlName="lugarN">
      </div>

      <div class="divExp">
        <label for="etniaPa">Etina de origen</label>
      </div>

      <div class="divExp">
        <select [(ngModel)]="padre.ID_Etnia" id="etniaPa" formControlName="etnia">
          <option>Selecciona una etnia de procedencia</option>
          <option *ngFor="let e of etnias" value="{{e.ID_Etnias}}">{{e.Etnia}}</option>
        </select>
      </div>
    </div>

    <div class="divLabelsDeUno">
      <div class="divExpDeUno">
        <label for="edadPa">Edad</label>
      </div>

      <div class="divExpDeUno">
        <input type="number" id="edadPa" formControlName="edad">
      </div>
    </div>
  </div>
</div>

  <!--CONTEXTO DE LA CITA -->
  <!-- <hr> -->
  <div formGroupName="bloque">
    <h2 class="cherry">CONTEXTO DE LA CITA</h2>
    <div>
      <h2 class="text16 textPink">TIPO DE CITA</h2>
        <div class="divLabels">
          <div class="divExp">
            <label>Citación por abordaje de riesgo de MGF</label>
          </div>

          <!-- <div class="divExp">
            <select id="citaAboMGF" formControlName="Citacion">
              <option *ngFor="let op of opciones; let i = index" value="{{i}}">{{op}}</option>
            </select>
          </div> -->

          <div class="divExp">
            <label for="citaAborMGFSI">Si</label>
            <input type="radio" name="Citacion" value="1" id="citaAborMGFSI" formControlName="Citacion">
            <label for="citaAborMGFNO">No</label>
            <input type="radio" name="Citacion" value="0" id="citaAborMGFNO" formControlName="Citacion">
          </div>

          <div class="divExp">
            <label>Derivación por detección de riesgo de MGF</label>
          </div>

          <div class="divExp">
            <!-- <select id="deriDetMGF" formControlName="Deriv_Riesgo">
              <option *ngFor="let op of opciones; let i = index" value="{{i}}">{{op}}</option>
            </select> -->

            <label for="deriDetMGFSI">Si</label>
            <input type="radio" name="Deriv_Riesgo" value="1" id="deriDetMGFSI" formControlName="Deriv_Riesgo">
            <label for="deriDetMGFNO">No</label>
            <input type="radio" name="Deriv_Riesgo" value="0" id="deriDetMGFNO" formControlName="Deriv_Riesgo">

          </div>
      </div>

      <div class="divLabelsDeUno">
          <div class="divExpDeUno">
            <label>Derivación por sospecha de MGF</label>
          </div>

          <div class="divExpDeUno">
            <!-- <select id="deriSosMGF" formControlName="Deriv_Sospecha">
              <option *ngFor="let op of opciones; let i = index" value="{{i}}">{{op}}</option>
            </select> -->

            <label for="deriSosMGFSI">Si</label>
            <input type="radio" name="Deriv_Sospecha" value="1" id="deriSosMGFSI" formControlName="Deriv_Sospecha">
            <label for="deriSosMGFNO">No</label>
            <input type="radio" name="Deriv_Sospecha" value="0" id="deriSosMGFNO" formControlName="Deriv_Sospecha">

          </div>
      </div>
      <div class="divLabels">
        <div class="divExp">
          <label for="otrosM">Otros motivos:</label>
        </div>

        <span matTooltip="Campo de texto libre donde puede introducir motivos más concretos sobre la cita" class="pointer icon-info info"></span>
        <textarea class="textareaBl2" type="text" id="otrosM" name="otros" formControlName="Otros"></textarea>

        </div>
      </div>
    <!-- <hr> -->
    <div>
      <h2 class="text16 textPink">PERSONAS DURANTE LA CITA</h2>

      <div class="divLabels">
        <div class="divExp">
          <label>Acompañado/a por el padre</label>
        </div>

        <div class="divExp">
          <!-- <select id="acomP" formControlName="Acomp_P">
            <option *ngFor="let op of opciones; let i = index" value="{{i}}">{{op}}</option>
          </select> -->

          <label for="acomPSI">Si</label>
          <input type="radio" name="Acomp_P" value="1" id="acomPSI" formControlName="Acomp_P">
          <label for="acomPNO">No</label>
          <input type="radio" name="Acomp_P" value="0" id="acomPNO" formControlName="Acomp_P">

        </div>

        <div class="divExp">
          <label for="acomM">Acompañado/a por la madre</label>
        </div>

        <div class="divExp">
          <!-- <select id="acomM" formControlName="Acomp_M">
            <option *ngFor="let op of opciones; let i = index" value="{{i}}">{{op}}</option>
          </select> -->

          <label for="acomMSI">Si</label>
          <input type="radio" name="Acomp_M" value="1" id="acomMSI" formControlName="Acomp_M">
          <label for="acomMNO">No</label>
          <input type="radio" name="Acomp_M" value="0" id="acomMNO" formControlName="Acomp_M">
        </div>
      </div>

      <div class="divLabelsDeUno">
        <div class="divExpDeUno">
          <label for="acomH">Acompañado por hermanos/as</label>
        </div>

        <div class="divExpDeUno">
          <!-- <select id ="acomH" formControlName="Acomp_H">
            <option *ngFor="let op of opciones; let i = index" value="{{i}}">{{op}}</option>
          </select> -->

          <label for="acomHSI">Si</label>
          <input type="radio" name="Acomp_H" value="1" id="acomHSI" formControlName="Acomp_H">
          <label for="acomHNO">No</label>
          <input type="radio" name="Acomp_H" value="0" id="acomHNO" formControlName="Acomp_H">

        </div>
      </div>

      <div class="divLabels">
        <div class="divExp">
          <label for="otrosA">Otros acompañantes:</label>
        </div>

        <textarea class="textareaBl2" type="text" placeholder="Introduzca otros acompañantes" id="otrosA" formControlName="Acomp_O"></textarea>
      </div>
    </div>
    <!-- <hr> -->

    <h2 class="text16 textPink">DIFICULTAD CON EL IDIOMA</h2>
    <div class="divLabels">
      <div class="divExp">
        <label >Dificultad con el idioma materno</label>
      </div>

      <div class="divExp">
        <!-- <select id="dificultadM" formControlName="Dif_Idi_M">
          <option *ngFor="let op of opciones; let i = index" value="{{i}}">{{op}}</option>
        </select> -->

        <label for="dificultadMSI">Si</label>
        <input type="radio" name="Dif_Idi_M" value="1" id="dificultadMSI" formControlName="Dif_Idi_M">
        <label for="dificultadMNO">No</label>
        <input type="radio" name="Dif_Idi_M" value="0" id="dificultadMNO" formControlName="Dif_Idi_M">

      </div>

      <div class="divExp">
        <label>Precisa traducción</label>
      </div>

      <div class="divExp">
        <!-- <select id="traduccion" formControlName="Traduccion">
          <option *ngFor="let op of opciones; let i = index" value="{{i}}">{{op}}</option>
        </select> -->

        <label for="traduccionSI">Si</label>
        <input type="radio" name="Traduccion" value="1" id="traduccionSI" formControlName="Traduccion">
        <label for="traduccionNO">No</label>
        <input type="radio" name="Traduccion" value="0" id="traduccionNO" formControlName="Traduccion">

      </div>
    </div>
    <div class="divLabelsDeUno">
      <div class="divExpDeUno">
        <label>Precisa de mediación intercultural</label>
      </div>

      <div class="divExpDeUno">
        <!-- <select id="mediacion" formControlName="Mediacion">
          <option *ngFor="let op of opciones; let i = index"value="{{i}}">{{op}}</option>
        </select> -->

        <label for="mediacionSI">Si</label>
        <input type="radio" name="Mediacion" value="1" id="mediacionSI" formControlName="Mediacion">
        <label for="mediacionNO">No</label>
        <input type="radio" name="Mediacion" value="0" id="mediacionNO" formControlName="Mediacion">

      </div>
    </div>
</div>

  <!-- <hr> -->

  <div class="centrar">
    <!-- TODO: Volver a poner esto para que no deje mandar si no esta lo required relleno -->
    <!-- [disabled]="!this.form.valid" -->
    <button style="text-align:center;" class="btn-relleno"  type="submit">Guardar</button>
  </div>

</form>

<!-- esto es lo que sale : false INVALID-->
<!-- <p>
  {{this.form.valid}}

  {{this.form.status}}
</p> -->
