<!--TODO Revisar como hacer para simplificar la parte del JacaScript -->

<form [formGroup]="form" (ngSubmit)="guardarDatos()">
<div class="grupoForm">
    <h2 class="cherry ">Información básica sobre el expediente</h2>
  <div>
    <label for=fechaC>Fecha de detección del caso:</label>
    <input [(ngModel)]="expediente.Fecha" type="date"  name="fechaC" formControlName="fechaC" id="fechaC" >

    <label for="lugarD">Lugar de detección:</label>
    <input [(ngModel)]="expediente.ID_Lugar" type="text" placeholder="Lugar"  name="lugarD" formControlName="lugarD" id="lugarD" >
  </div>
  <div>
    <label for="descripcion">Breve descripción:</label>
    <input [(ngModel)]="expediente.Descripcion" type="text"  placeholder="Descripcion"  name="descripcion" id="descripcion" formControlName="descripcion">
  </div>
</div>

<hr>
<h2 class="cherry ">Datos sociodemográficos(datos sobre la menor, madre y padre)</h2>
<div class="grupoForm" formGroupName = "menor">

  <!-- DATOS DE LA MENOR INVOLUCRADA EN EL EXPEDIENTE-->
  <h2>Datos sobre la menor</h2>

  <label for="nombreM">Nombre completo de la menor:</label>
  <input [(ngModel)]="menor.Nombre" type="text" id="nombreM" placeholder="nombre de la menor" formControlName="nombre">

  <label for="edadM">Edad:</label>
  <input [(ngModel)]="menor.Edad" type="number" id="edadM" formControlName="edad">
  <label for="etniaM">Etina de origen:</label>
  <select [(ngModel)]="menor.ID_Etnia" id="etniaM" formControlName="etnia">
    <option>Selecciona una etnia de procedencia</option>
    <option *ngFor="let e of etnias" value="{{e.ID_Etnias}}">{{e.Etnia}}</option>
  </select>
  <label  for="lugarN">Lugar de nacimiento:</label>
  <input [(ngModel)]="menor.ID_Lugar" type="text" id="lugarN" name="lugarN" placeholder="Lugar de nacimiento" formControlName="lugarN">
</div>
<hr>
<!-- DATOS SOBRE LA MADRE DE LA MENOR INVOLUCRADA EN EL EXPEDIENTE-->

<div class="grupoForm" formGroupName="madre">
  <h2>Datos sobre la madre
    <span *ngIf="HayMadre==false" (click)="HayMadre = !HayMadre" class="pointer icon-plus" style="padding : 3px"></span>
    <span *ngIf="HayMadre==true" (click)="HayMadre = !HayMadre" class="pointer icon-minus" style="padding : 3px"></span>
  </h2>
<div *ngIf="HayMadre==true">

  <label for="nombreMa">Nombre de la madre</label>
  <input [(ngModel)]="madre.Nombre" required type="text" id="nombreMa" placeholder="nombre de la madre" formControlName="nombre" >

  <label for="edadMa">Edad</label>
  <input [(ngModel)]="madre.Edad" type="number" id="edadMa" formControlName="edad">
  <label for="etniaMa">Etina de origen</label>
  <select [(ngModel)]="madre.ID_Etnia" id="etniaMa" formControlName="etnia">
    <option>Selecciona una etnia de procedencia</option>
    <option *ngFor="let e of etnias" value="{{e.ID_Etnias}}">{{e.Etnia}}</option>
  </select>
  <label for="lugarNM">Lugar de nacimiento</label>
  <input [(ngModel)]="madre.ID_Lugar" type="text" id="lugarNM" name="lugarNM" placeholder="Lugar de nacimiento" formControlName="lugarN">
  <label for="actividadM">Actividad laboral de la madre</label>
  <select [(ngModel)]="madre.ID_Actividad" id="actividadM" formControlName="actividad">
    <option value="">Desconoce la actividad</option>
    <option *ngFor="let a of actividades" value="{{a.ID_Actividad}}" id="actividadM">{{a.Nombre}}</option>
  </select>
</div>
</div>

<hr>
<!-- DATOS SOBRE EL PADRE DE LA MENOR INVOLUCRADA EN EL EXPEDIENTE -->



<div class="grupoForm"  formGroupName="padre">
  <h2>Datos sobre el padre
    <span  *ngIf="HayPadre == false" (click)="HayPadre = !HayPadre" class="icon-plus" style="padding : 3px"></span>
    <span *ngIf="HayPadre == true" (click)="HayPadre = !HayPadre" class="icon-minus" style="padding : 3px"></span>
  </h2>
  <div *ngIf="HayPadre==true">
    <label for="nombrePa">Nombre del padre</label>
    <input [(ngModel)]="padre.Nombre" required type="text" id="nombrePa" placeholder="nombre del padre" formControlName="nombre">

    <label for="edadPa">Edad</label>
    <input type="number" id="edadPa" formControlName="edad">

  <!--REVISAR PORQUE SE SELECCIONAN LAS DOS OPCIONES -->
    <!-- <div>
      <label>Sexo:</label>
      <label for="mujer3">Mujer</label>
      <input [(ngModel)]="padre.ID_Sexo" type="radio" name="sexo3" value="1" id="mujer3" formControlName="sexo3">
      <label for="hombre3">Hombre</label>
      <input [(ngModel)]="padre.ID_Sexo" type="radio" name="sexo3" value="2" id="hombre3" formControlName="sexo3">
    </div> -->

      <label for="etniaPa">Etina de origen</label>
      <select [(ngModel)]="padre.ID_Etnia" id="etniaPa" formControlName="etnia">
        <option>Selecciona una etnia de procedencia</option>
        <option *ngFor="let e of etnias" value="{{e.ID_Etnias}}">{{e.Etnia}}</option>
      </select>
      <label for="lugarNP">Lugar de nacimiento</label>
      <input  [(ngModel)]="padre.ID_Lugar" type="text" id="lugarNP" name="lugarNP" placeholder="Lugar de nacimiento" formControlName="lugarN">
      <label for="actividadP">Actividad laboral del padre</label>
      <select [(ngModel)]="padre.ID_Actividad" id="actividadP" formControlName="actividadP" formControlName="actividad">
        <option value="">Desconoce la actividad</option>
        <option *ngFor="let a of actividades" value="{{a.ID_Actividad}}" id="actividadP">{{a.Nombre}}</option>
      </select>
    </div>
  </div>





<!--CONTEXTO DE LA CITA -->
<hr>
<div formGroupName="bloque">
<h2 class="cherry">Contexto de la cita</h2>
<div>
  <h2> Tipo de cita</h2>
  <label for="citaAboMGF">Citación por abordaje de riesgo de MGF</label>
  <select id="citaAboMGF" formControlName="Citacion">
    <option *ngFor="let op of opciones; let i = index" value="{{i}}">{{op}}</option>
  </select>

  <label for="deriDetMGF">Derivación por detección de riesgo de MGF</label>
  <select id="deriDetMGF" formControlName="Deriv_Riesgo">
    <option *ngFor="let op of opciones; let i = index" value="{{i}}">{{op}}</option>
  </select>


  <label for="deriSosMGF">Derivación por sospecha de MGF</label>
  <select id="deriSosMGF" formControlName="Deriv_Sospecha">
    <option *ngFor="let op of opciones; let i = index" value="{{i}}">{{op}}</option>
  </select>

  <label for="otrosM">Otros motivos</label>
  <input type="text" id="otrosM" name="otros" placeholder="introduzca aqui otros motivos" formControlName="Otros">
</div>
<hr>
<div>
  <h2>Personas durante la cita</h2>

  <label for="acomP">Acompañado/a por el padre</label>
  <select id="acomP" formControlName="Acomp_P">
    <option *ngFor="let op of opciones; let i = index" value="{{i}}">{{op}}</option>
  </select>

  <label for="acomM">Acompañado/a por la Madre</label>
  <select id="acomM" formControlName="Acomp_M">
    <option *ngFor="let op of opciones; let i = index" value="{{i}}">{{op}}</option>
  </select>

  <label for="acomH">Acompañado por hermanos/as</label>
  <select id ="acomH" formControlName="Acomp_H">
    <option *ngFor="let op of opciones; let i = index" value="{{i}}">{{op}}</option>
  </select>

  <label for="otrosA">Otros acompañantes</label>
  <input type="text" placeholder="introduzca otros acompañantes" id="otrosA" formControlName="Acomp_O">
</div>
<hr>
<div>
  <h2>Dificultad con el idioma</h2>
  <label for="dificultadM">Dificultad con el idioma materno</label>
  <select id="dificultadM" formControlName="Dif_Idi_M">
    <option *ngFor="let op of opciones; let i = index" value="{{i}}">{{op}}</option>
  </select>

  <label for="traduccion">Precisa traducción</label>
  <select id="traduccion" formControlName="Traduccion">
    <option *ngFor="let op of opciones; let i = index" value="{{i}}">{{op}}</option>
  </select>

  <label for="mediacion">Precisa de mediación intercultural</label>
  <select id="mediacion" formControlName="Mediacion">
    <option *ngFor="let op of opciones; let i = index"value="{{i}}">{{op}}</option>
  </select>

</div>
</div>
<hr>
<button [disabled]="!this.form.valid" type="submit">Guardar</button>

</form>
<p>
  {{this.form.valid}}

  {{this.form.status}}
</p>
