<div *ngIf="error">
  <app-error></app-error>
</div>
<div *ngIf="!error">
  <app-header-admin></app-header-admin>

  <div class="divAdmin-menuExpanded" *ngIf="expanded">
    <ul>
      <!-- <li><a class="pointer icon-home" (click)="changeOption(1)">Home</a></li> -->
      <li><a class="pointer icon-user" (click)="changeOption(2)">Usuarios</a></li>
      <li><a class="pointer icon-users" (click)="changeOption(3)">Asociaciones</a></li>
      <li><a class="pointer icon-box" (click)="changeOption(4)">Recursos</a></li>
      <li><a class="pointer icon-doc-text-inv" (click)="changeOption(5)">Expedientes</a></li>
      <li><a class="pointer icon-envelope-open">Notificaciones</a></li>
    </ul>
  </div>

  <div class="divAdmin">
    <ul>
      <!-- <li><a class="pointer icon-home" (click)="changeOption(1)"><span>Home</span></a></li> -->
      <li><a class="pointer icon-user" (click)="changeOption(2)"><span>Usuarios</span></a></li>
      <li><a class="pointer icon-users" (click)="changeOption(3)"><span>Asociaciones</span></a></li>
      <li><a class="pointer icon-box" (click)="changeOption(4)"><span>Recursos</span></a></li>
      <li><a class="pointer icon-doc-text-inv" (click)="changeOption(5)"><span>Expedientes</span></a></li>
      <li><a class="pointer icon-envelope-open"><span>Notificaciones</span></a></li>
    </ul>
  </div>

  <div *ngIf="option == 1">

  </div>
  <div *ngIf="option == 2">
    <app-usuarios></app-usuarios>
  </div>
  <div *ngIf="option == 3">
    <app-asociaciones></app-asociaciones>
  </div>
  <div *ngIf="option == 4">
    <app-recursos-admin></app-recursos-admin>
  </div>
  <div *ngIf="option == 5">
    <app-expedientes></app-expedientes>
  </div>
</div>
