<div class="header bgColorBlack">
  <a href="www.aisha.ovh/principal"><img style="width:150px; float:left;margin-left:75px;margin-top:23px" src="../assets/img/AishaLogoAllado.png" alt=""></a>
  <button (click)="logout();" type="button" name="button"
    class="submitGris textoBlanco logoutAdmin"
    style="float:right; margin-right:1%" >
    Cerrar Sesión
  </button>
</div>

<div class="divAdmin"
     style="width: 30%;float: left; border-top:none; position: absolute; height: 100%;">
<!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
  <ul>
    <li>
      <a class="pointer" href="/admin/usuarios">Usuarios</a>
    </li>
    <li>
      <a class="pointer" href="/admin/asociaciones">Asociaciones</a>
    </li>
    <li>
      <a class="pointer">Recursos</a>
    </li>
    <li>
      <a class="pointer">Notificaciones</a>
    </li>
  </ul>
</div>
