button:hover{
  cursor: pointer;
}

.btn-relleno{
  padding: 6px 10px;
  margin-right: 2%;
  color: white;
  border-radius: 10px;
  font-size: 12px;
  background-color: #880042;
  border-color: #880042;
  border-width: 2px;
}

.btn-relleno:hover,
.registroVerMas:hover{
  padding: 6px 10px;
  background: none;
  color:#880042;
  border-radius: 10px;
  border-color: #880042;
  border-width: 2px;
}


.registroVerMas{
  padding: 6px 10px;
  margin-right: 2%;
  color: white;
  border-radius: 10px;
  font-size: 12px;
  background-color: #880042;
  border-color: #880042;
  border-width: 2px;
  position: absolute;
  float: right;
  /* z-index: 2; */
  margin-top: 118%;
  /* margin-right: 0px; */
  margin-left: -5%;
  /* z-index: 9999; */
}

.btn-border{
  padding: 6px 10px;
  font-size: 12px;
  background: none;
  margin-right: 2%;
  padding: 6px 20px;
  border-radius: 10px;
  border-color: #880042;
  color: #880042;
  border-width: 2px;
}

.btn-border:hover{
  border-color: #880042;
  background-color: #880042;
  color:white;
}

.btn-relleno-negro{
  padding: 6px 10px;
  margin-right: 2%;
  color: white;
  border-radius: 10px;
  font-size: 12px;
  background-color: #333333;
  border-color: #333333;
  border-width: 2px;
}

.btn-relleno-negro:hover{
  padding: 6px 10px;
  background: none;
  color:#333333;
  border-radius: 10px;
  border-color: #333333;
  border-width: 2px;
}

.login{
  margin-top: 4%;
  float:right;
}

.suscribirse{
  margin-top: 6%;
}

.verMas{
  margin-top: 10.5%;
  margin-bottom:10%;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  display: inline-block;
}

.inputfile + label:hover{
  padding: 4px 8px;
  border: solid;
  background: none;
  color:#333333;
  border-radius: 10px;
  border-color: #333333;
  border-width: 2px;
}

.btn-return{
  display: inline-block;
  background: white;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  float: left;
  margin-left: 2%;
  margin-top: 1%;
  transform: rotate(+45deg);
}
.btn-return:hover{
  transform: rotate(-45deg);
}

.radioButtons{
  display: block;
  margin-bottom: 25px;
}
.checktrans[type="checkbox"]:disabled + .labeltrans{
  color: #dbdbdb;
  cursor: default;
  border-radius: 4px;
  padding-left: 5px;
  background: #880042;
}

.btn-atras{
  float:left;
  margin-left: 5%;
}
/**   BOTONES    **/

/**   FONTELLO    **/

.icon-cancel,
.icon-ok,
.icon-search,
.icon-edit,
.icon-trash-empty,
.icon-eye,
.icon-left-open,
.icon-right-open,
.icon-left-big{
  font-size: 20px;
  color:#333333;
}

.icon-cancel:hover,
.icon-ok:hover,
.icon-search:hover,
.icon-edit:hover,
.icon-trash-empty:hover{
  color:#880042;
}

.boton-flotante {
  background:#0C8A9C;
  left:0;
  top:0;
  border-radius: 10px;
  position:absolute;
  width: 76px;
  height: 20px;
  margin-left:16px;
  margin-top:16px;
  border:none;
  outline:none;
  color:#FFF;
  /* font-size:36px; */
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  /* transition:.3s; */
  padding-bottom: 5%;
}
#tipo1 {
  background: #0C8A9C;
  margin-left: 100px;
}
#tipo2 {
  background: #0C8A9C;
  margin-left: 180px;
}
#tipo3 {
  background: #0C8A9C;
  margin-left: 260px;
}
#tipo4 {
  background: #880042;
  margin-left: 340px;
  width: 120px;
}
#span {
  text-align: center;
  transition: .5s;
}

.btn-activo{
  background: grey;
}

.contenedor{
  width: 240px;
  height: 90px;
  position: absolute;
  left: 0;
  top: 0;
}

/**   FONTELLO    **/
