.main-Chat{
  display: flex;
  width: 100%;
  height: 90%;
  flex-direction:row;
  overflow: hidden;
}
.main-Chat .bgColorWhite{
  width: 25%;
}
.chat-container{
  flex-grow: 2;
  border-left: 1px solid #DBDBDB;
}
.message-container{
  height: 630px;
  max-height: 900px;
  overflow-y: scroll;
  align-items: flex-start;
}
.conversacioness{
  border-bottom: 1px solid #DBDBDB;
  padding: 7px;
  cursor: pointer;
}
.busquedachat{
   height: 78%;
   overflow-y: scroll;
 }
.btn-buscador{
  background: none;
  border: none;
  font-size: 15px;
}
.message-container div{
  margin: 5px;
  text-align: left;
}
.lineaChat{
  width: 100%;
  overflow: hidden;
}
.mensaje{
  display: block;
  padding: 7px;
  margin: 10px;
  min-width: 150px;
  max-width: 400px;
}
.rigth{
  float: right;
  background-color: rgba(222,0,108,0.25);
  border-radius: 10px 10px 0 10px;
}
.left{
  float: left;
  border-radius: 0 10px 10px 10px;
  background-color: #F2F2F2;
}
.formChat{
  padding: 10px;
  width: 100%;
  overflow: hidden;
}
.formChat input{
  width: 80%;
  border-radius: 3px;
  border-style: none;
  padding: 8px;
}
.formChat button{
  padding: 6px 10px;
  border-radius: 10px;
  font-size: 12px;
  background-color: white;
}
.btn-salirchat{
  margin: 2%;
}
