.header-buttons{
  display: flex;
  justify-content: space-between;
}
.header-buttons > div{
  display: flex;
  margin-right: 2%;
}
.header-buttons > div > button{
  height: 30px;
  margin: auto;
}

/*logo*/
.header > a > img{
  float:left;
  width: 55px;
  margin-left: 20px;
  margin-top: 8px;
  margin-right: 14px;
}

/*usuario*/
label > img{
  width: 60px;
  float: right;
  margin-right: -15px;
  margin-top:8px;
}

/* Add a black background color to the top navigation */
.menuNav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.menuNav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 17px 17px;
    text-decoration: none;
    font-size: 17px;
}
/* Change the color of links on hover */
.menuNav a:hover, .dropdown:hover .dropbtn{
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #880042;
    color: white;
}
/* Hide the link that should open and close the topnav on small screens */
.menuNav .icon {
    display: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: #f2f2f2;
  padding: 17px 17px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}
/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 17px 17px;
  text-decoration: none;
  display: block;
  text-align: left;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  color: white;
}
