input, textarea, select{
  font-size: 16px;
  color: #7F7F7F;
  width: 140px;
  border-radius: 3px;
  border: 1.4px solid lightgray;
}

input{
  padding:2px;
}

textarea {
  resize: none;
  margin-bottom: 25px;
}

textarea:hover{ border-bottom: 2px solid;}

.lineaCampo{
  background: none;
  border: none;
  border-bottom: 1px solid #333333;
  margin-bottom: 25px;
  width: 100%;
}

.lineaCampo:hover{
  border-bottom: 2px solid;
}

.inputProfileUser{
  width: 30px;
  margin-left: 3%;
}
.labelpermisos .inputProfileUser{
  float: right;
  margin-right: 5%;
}
