
/**** RESPONSIVE ****/
@media (max-width: 700px) { /*1384*/
  h1{
    font-size:16px;
  }
  p{
    font-size:14px;
  }

  .vermasCentroText{
    font-size:16px;
  }

  .tickCrossIcon{
    width: 20px;
  }

  .caracteristicasLeft{
    margin-left:20px;
    width:78%;
  }

  .recursosText{
    margin-left:15%;
  }

  .divRecurso{
    float:left;
    margin-bottom:10px;
  }

  .recurso{
    display: block;
    width:300px;
    margin:0 auto;
    height: 30px;
  }

  .recursosDiv{
    height:500px;
  }
  .headerPrincipal{
    margin-bottom:20px;
  }

  .logoPrincipalDiv{
    width: 100%;
    height: 100px;
    margin:0 auto;
    display: flex;
    justify-content: center;
  }

  .logoPrincipal{
    display: none;
  }

  .logoPrincipal2{
    display: block;
  }

  .botonesPrincipal{
    padding-top:0px;
    display: flex;
    justify-content: center;
    margin-top:20px;
  }

  .registro{
    flex-direction: row;
    margin:0 10px;
  }

  .language{
    flex-direction: row;
    margin:0 10px;
    margin-top:6px;
  }

  .login{
    flex-direction: row;
    margin:0 10px;
  }

  .LeftDiv, .RightDiv{
    margin-top:50px;
  }
}


@media (max-width: 1384px) {
  /* laptop */
  h1{font-size:16px;}

  p{font-size:14px;}

  .vermasCentroText{font-size:16px;}

  .tickCrossIcon{width: 20px;}

  .caracteristicasLeft{
    margin-left:20px;
    width:78%;
  }

  .recursosText{margin-left:15%;}

  .divRecurso{
    float:left;
    margin-bottom:10px;
  }

  .recurso{
    display: block;
    width:300px;
    margin:0 auto;
    height: 30px;
  }

  .recursosDiv{height:500px;}

}

@media (max-width:1025px) {
  /* big landscape tablets, laptops, and desktops */
  .camposForm{width: 70%;}

  .divBlanco{width: 80%;}

  .divAdmin span{display: none;}

  .divAdmin{ width: 70px;}

  .divAdmin li{ padding: 30%;}

  .divAdmin ul{ width: 70%;}

  .divAdmin-content{margin-left: 70px;}

  .noticiasConIcon{width: 620px;}
}

@media (max-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  html{
    max-width: 320px;
  }

  .botonesPrincipal{
    width:321px;
    margin-bottom:30px;
  }

  .recursosDiv{
    padding: 0px;
  }

  .recursosText{
    margin-left:8px;
  }

  .divBlanco{
    width: 100%;
  }

  .camposForm{
    width: 90%;
  }

  .btn-return{
    float: none;
  }

  .divAdmin { display: none;}

  .divAdmin-menuExpanded{
    display: block;
    background: #D8D8D8;
    border: 1px solid #979797;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24);
    padding-bottom: 1%;
    position: absolute;
    width: 100%;
    min-width: 200px;
  }

  .icon-menu{
    display: inline-block;
  }

  .divAdmin-menuExpanded li{
    text-align: left;
    padding: 2%;
    margin-left: 0.3em;
  }

  .divError{
    display: block;
  }

  .divError div{
    display: inline-block;
    margin: auto;
    width: 100%;
    margin-bottom: 2%;
  }

  .noticiasConIcon{
    width: 300px;
  }

  .masNoticias{
    width: 100px;
  }

  .comentario{
    width: 100%;
  }

  /**** FOOTER ****/
  .socialNetworks>a>img{
    width: 30px;
    margin-bottom: 10px;
  }

  .infoFooter{
    font-size: 10px;
  }

  .infoFooter> .divpFooter> p{
    font-size: 12px;
  }

  /*** EXPEDIENTES ****/
  .tabsExpediente{
    width: 90%;
  }

  .tabItem{
    font-size: 11px;
    margin-right: 4px;
    padding: 5px 3px;
  }

  .divBloque{

  }

  .divBloqueExp{
    width: 90%;
  }

  .cherry{
    font-size:14px;
  }

  label,
  .prueba{
    font-size: 12px;
  }

  .text16{
    font-size: 12px;
  }

  input,
  input::-webkit-input-placeholder,
  textarea {
    font-size: 12px;
  }

  .mat-dialog-content{
    padding: 0 10px;
  }

  /**** HEADER ****/
  .header > a > img{
    width: 100px;
    margin-left: 30px;
    margin-top: 20px;
  }

  .header{
    height: 70px;
  }

  label > img {
    width: 45px;
    margin-right: -52px;
    margin-top: 12px;
  }

  .notification{
    width: 20px;
    height: 20px;
    margin-right: 50px;
  }

}
