/**** RESPONSIVE ****/
@media (max-width: 700px) { /*1384*/
  h1{
    font-size:16px;
  }
  p{
    font-size:14px;
  }

  .vermasCentroText{
    font-size:16px;
  }

  .tickCrossIcon{
    width: 20px;
  }

  .caracteristicasLeft{
    margin-left:20px;
    width:78%;
  }

  .recursosText{
    margin-left:15%;
  }

  .divRecurso{
    float:left;
    margin-bottom:10px;
  }

  .recurso{
    display: block;
    width:300px;
    margin:0 auto;
    height: 30px;
  }

  .recursosDiv{
    height:500px;
  }

  .headerPrincipal{
    margin-bottom:20px;
  }

  .logoPrincipalDiv{
    width: 100%;
    height: 100px;
    margin:0 auto;
    display: flex;
    justify-content: center;
  }

  .logoPrincipal{
    display: none;
  }

  .logoPrincipal2{
    display: block;
  }

  .botonesPrincipal{
    padding-top:0px;
    display: flex;
    justify-content: center;
    margin-top:20px;
  }

  .registro{
    flex-direction: row;
    margin:0 10px;
  }

  .language{
    flex-direction: row;
    margin:0 10px;
    margin-top:6px;
  }

  .login{
    flex-direction: row;
    margin:0 10px;
  }

  .LeftDiv, .RightDiv{
    margin-top:50px;
  }

  .ocultar-lateralSearch{width: 15%;}
  .mostrar-lateralSearch{width: 90%;}

  .mostrar-form {display: block;}
  .ocultar-form {display: none;}

  .mostrar-carpetasDivContainer{
    width: 85%;
  }
  .ocultar-carpetasDivContainer{
    width: 30%;
    display: none;
  }
  .recursos-container{padding: 0;}
}


@media (max-width: 1384px) {
  /* laptop */

  p{font-size:14px;}

  .vermasCentroText{font-size:16px;}

  .tickCrossIcon{width: 20px;}

  .caracteristicasLeft{
    margin-left:20px;
    width:78%;
  }

  .recursosText{margin-left:15%;}

  .divRecurso{
    float:left;
    margin-bottom:10px;
  }

  .recurso{
    display: block;
    width:300px;
    margin:0 auto;
    height: 30px;
  }

  .recursosDiv{height:500px;}
}

@media (max-width:1025px) {
  /* big landscape tablets, laptops, and desktops */
  .camposForm{width: 70%;}

  .divBlanco{width: 80%;}

  .divAdmin span{display: none;}

  .divAdmin{ width: 70px;}

  .divAdmin li{ padding: 30%;}

  .divAdmin ul{ width: 70%;}

  .divAdmin-content{margin-left: 70px;}

  .noticiasConIcon{width: 620px;}

  .recursoTarget{
    width: 30%;
    margin: auto;
    margin-bottom: 1%;
  }
}

@media (max-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  /* html{
    max-width: 320px;
  } */
  h1{font-size: 16px;}

  .formPlus {
    display: block;
    padding: 0;
  }

  .botonesPrincipal{
    width:321px;
    margin-bottom:30px;
  }

  .recursosDiv{padding: 0px;}

  .recursosText{margin-left:8px;}

  .divBlanco{width: 100%;}

  .recursoTarget {
    height: 250px;
    width: 90%;
  }

  .camposForm{width: 90%;}

  .divAdmin { display: none;}

  .divAdmin-menuExpanded{
    display: block;
    background: #D8D8D8;
    border: 1px solid #979797;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24);
    padding-bottom: 1%;
    position: absolute;
    width: 100%;
    min-width: 200px;
  }

  .icon-menu{
    display: inline-block;
  }

  .divAdmin-menuExpanded li{
    text-align: left;
    padding: 2%;
    margin-left: 0.3em;
  }

  .divAdmin-content{
    margin: 0;
  }

  .divError{
    display: block;
  }

  .divError div{
    display: inline-block;
    margin: auto;
    width: 100%;
    margin-bottom: 2%;
  }

  .noticiasConIcon{
    width: 300px;
  }

  .masNoticias{
    width: 100px;
  }

  .comentario{
    width: 100%;
  }

  /**** FOOTER ****/
  .socialNetworks>a>img{
    width: 30px;
    margin-bottom: 10px;
  }

  .infoFooter{
    font-size: 10px;
  }

  .infoFooter> .divpFooter> p{
    font-size: 12px;
  }

  /*** EXPEDIENTES ****/
  .tabsExpediente{
    width: 90%;
  }

  .tabItem{
    font-size: 11px;
    margin-right: 4px;
    padding: 5px 3px;
  }

  .divBloque{

  }

  .divBloqueExp{
    width: 90%;
  }

  .cherry{
    font-size:14px;
  }

  label,
  .prueba{
    font-size: 12px;
  }

  .text16{
    font-size: 12px;
  }

  input,
  input::-webkit-input-placeholder,
  textarea {
    font-size: 12px;
  }

  .mat-dialog-content{
    padding: 0 10px;
  }

  /**** HEADER ****/
  /* .header > a > img{
    margin-left: 30px;
    margin-top: 20px;
  } */

  .header{
    height: 70px;
  }

  label > img {
    width: 45px;
    margin-right: -52px;
    margin-top: 12px;
  }

  .notification{
    width: 20px;
    height: 20px;
    margin-right: 50px;
  }

}

/****** HEADER *****/
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1040px) {
  .menuNav a, .menuNav button{ display:none;}
  .menuNav a.icon {
    float: right;
    display: block;
  }
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1040px) {
  .menuNav.responsive {position: relative;}
  .menuNav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menuNav.responsive a, .menuNav.responsive button{
    float: none;
    display: block;
    text-align: left;
  }
  .menuNav.responsive .dropdown-content{
    position: relative;
  }

}
