<div *ngIf="error">
  <app-error></app-error>
</div>
<div *ngIf="!error">
  <app-header></app-header>
</div>
<div *ngIf="!error">
  <div class="divBlanco bgColorWhite perfilDiv">
    <h1 class="textPink text20">Mi Perfil</h1>
    <hr>
    <a name="arriba"></a>
    <div id="alert">{{mensaje}}</div>


      <form (ngSubmit)="save2(forma, place.value)" #forma="ngForm" class="editarPerfil">
        <div class="columnaPerfil">
          <label for="nombre" class="perfilLabel">Nombre: *</label>
            <input [(ngModel)]="user.Nombre" class="lineaPerfil lineaCampo" type="text"
                   value="user[0].Nombre" name="nombre" id="nombre" style="width: 80%;" required>

          <label for="apellido" class="perfilLabel">Apellidos: *</label>
            <input [(ngModel)]="user.Apellidos" class="lineaPerfil lineaCampo" type="text"
                   value="user[0].Apellidos" name="apellido" id="apellido" required>

          <label for="apellido" class="perfilLabel">Email:</label>
            <input [(ngModel)]="user.Email" class="lineaPerfil lineaCampo" type="text"
                   value="user[0].Email" name="email" id="email" disabled="false">

          <label for="nacimiento" class="fechaPerfilLabel perfilLabel">Fecha de Nacimiento: *</label>
            <input [(ngModel)]="user.F_Nacimiento" class="fechaPerfilInput lineaPerfil lineaCampo" type="date"
                    value="user[0].F_Nacimiento" name="nacimiento" id="nacimiento" required>

          <label for="sexo" class="perfilLabel sexoPerfil">Sexo:</label>
            <input [(ngModel)]="user.Sexo" type="radio" name="Sexo" value="1" id="mujer">
              <label for="mujer" class="text12">Mujer</label>
            <input [(ngModel)]="user.Sexo" type="radio" name="Sexo" value="2" id="hombre">
              <label for="hombre" class="text12">Hombre</label>
            <input [(ngModel)]="user.Sexo" type="radio" name="Sexo" value="3" id="otro">
              <label for="otro" class="text12">Prefiero no especificar</label>
          <br>
          <label for="dni" class="perfilLabel">DNI: *</label>
            <input [(ngModel)]="user.DNI" class="lineaPerfil lineaCampo" type="text"
                   value="user[0].DNI" name="dni" id="dni" required>

         <label for="asociacion" class="perfilLabel">Asociación:</label>
            <input [(ngModel)]="user.Asociacion" class="lineaPerfil lineaCampo" type="text"
              value="user[0].Asociacion" name="asociacion" id="asociacion" disabled="false" required>

          <label for="profesion" class="perfilLabel">Profesión:</label>
          <select [(ngModel)]="user.ID_Profesion" class="lineaPerfil lineaCampo" name="Profesion" id="profesion">
            <option *ngFor="let k of profesiones | keys;" value="{{profesiones[k].ID_Profesion}}">
              {{profesiones[k].Nombre}}
            </option>
          </select>

         <label for="direccion" class="perfilLabel">Dirección:</label>
         <div id="locationField">
           <input type="text"  id="direccion" class="lineaPerfil lineaCampo" value="{{oldPlaceName}}, {{oldPais}}" autocorrect ='off' autocapitalize='off' spellcheck="off"  #place>
         </div>

          <label for="fotoP" class="perfilLabel">Foto de perfil:</label>
          <input class="lineaPerfil lineaCampo" name="fotoP" id="fotoP" type="file"  (change)="onFileChange($event)" #fileInput>

          <!-- Cambio Contrasenya  -->
          <button (click)="change = !change" type="button" name="button"
                  class="btn-border" style="margin-bottom:5%; margin-left:10%;">
                  Cambiar Contraseña
          </button>


          <div *ngIf="change" class="cambioContra">
            <label for="contra" class="perfilLabel">Contraseña: *</label>
            <!-- (keyup)="validate(pass.newpass)" -->
            <input [(ngModel)]="pass.newpass" class="lineaPerfil lineaCampo" type="password"
            name="contra" id="contra" required>
            <label for="repeatcontra" class="perfilLabel">Repita la Contraseña: *</label>
            <input [(ngModel)]="pass.repeatpass" class="lineaPerfil lineaCampo" type="password"
            name="repeatcontra" id="repeatcontra" required>
            <br>
          </div>
        </div> <!-- columna -->

        <div class="columnaPerfil">
          <img src="https://aisha.ovh{{user.Foto}}" class="fotoPerfil" alt="imagen perfil">
          <div style="margin-top: 10%;margin-left:10%;">
            <button [routerLink]="['/home']" type="button" name="button" class="btn-relleno-negro" style="margin-bottom: 5px;">Descartar</button>
            <button type="submit" name="button" class="btn-relleno">Guardar cambios</button>
          </div>
        </div>
    </form>
  </div>
</div>
