
<div class="editarPerfil">

  <img src="https://aisha.ovh{{user.Foto}}" class="fotoPerfil" alt="imagen perfil">
  <hr>

  <div class="" style="width: 50%; float: left;">
    <form class="" style="display: inline-grid; width: 80%;">

      <!-- [(ngModel)]="" -->
      <label for="nombre">Nombre</label>
        <input [(ngModel)]="user.Nombre" class="lineaCampo" type="text"
               value="user[0].Nombre" name="nombre" id="nombre" disabled="false">
      <label for="apellido">Apellidos</label>
        <input [(ngModel)]="user.Apellidos" class="lineaCampo" type="text"
               value="user[0].Apellidos" name="apellido" id="apellido" disabled="false">
      <label for="apellido">Email</label>
        <input [(ngModel)]="user.Email" class="lineaCampo" type="text"
               value="user[0].Email" name="email" id="email">
       <label for="nacimiento">Fecha de Nacimiento</label>
         <input [(ngModel)]="user.F_Nacimiento" class="lineaCampo" type="text"
                value="user[0].F_Nacimiento" name="nacimiento" id="nacimiento" disabled="false">
      <label for="dni">DNI</label>
        <input [(ngModel)]="user.DNI" class="lineaCampo" type="text"
               value="user[0].DNI" name="dni" id="dni" disabled="false">
     <label for="asociacion">Asociacion</label>
        <input [(ngModel)]="user.Asociacion" class="lineaCampo" type="text"
              value="user[0].Asociacion" name="asociacion" id="asociacion" disabled="false">
      <label for="profesion">Profesión</label>
        <input [(ngModel)]="user.Profesion" class="lineaCampo" type="text"
             value="user[0].Profesion" name="profesion" id="profesion" disabled="false">
     <label for="direccion">Dirección</label>
       <input [(ngModel)]="user.Direccion" class="lineaCampo" type="text"
              value="user[0].Direccion" name="direccion" id="direccion">

      <button (click)="change = !change" type="button" name="button"
              class="submitNegro textoBlanco" style="margin-bottom:5%;">
              Cambiar Contraseña
      </button>

      <div *ngIf="change" class="" style="display: inline-grid;">
        <label for="apellido">Anterior Contraseña</label>
          <input class="lineaCampo" type="text" name="apellido" id="apellido">
        <label for="apellido">Nueva Contraseña</label>
          <input class="lineaCampo" type="text" name="apellido" id="apellido">
        <label for="apellido">Repita la Nueva Contraseña</label>
          <input class="lineaCampo" type="text" name="apellido" id="apellido">
      </div>

      <button type="button" name="button" class="btn-inline textoBlanco">GUARDAR</button>
    </form>
  </div>

  <div class="headerPermisos" style="width: 40%; float: right; margin-right:5%;">
    <p class="textoBlanco">Permisos</p>
  </div>
  <div class="permisos" style="width: 40%; float: right; margin-right:5%; display: inline-grid;">
    <div class="" style="margin-top: 5%;">
      <label style="float:left; width:80%;" for="subir">Subir expedientes</label>
        <input style="float:right; margin-right:10%;" type="checkbox" name="" value="" id="subir">
    </div>
    <div class="">
      <label style="float:left; width:80%;" for="comentar">Comentar expedientes</label>
        <input style="float:right; margin-right:10%;" type="checkbox" name="" value="" id="comentar">
    </div>
    <div class="">
      <label style="float:left; width:80%;" for="api">Ver API</label>
        <input style="float:right; margin-right:10%;" type="checkbox" name="" value="" id="api">
    </div>

    <button type="button" name="button" class="submitNegro textoBlanco" style="margin:5%;">Solicitar</button>
  </div>
</div>
