<div *ngIf="error">
  <app-error></app-error>
</div>
<div *ngIf="!error">

  <!-- <div class="header bgColorBlack">
    <a [routerLink]="['/home']" (click)="activo(0)"><img src="../assets/img/AishaCherry.png" id="0" alt="LogoAisha"></a>

  <div class="menuNav" id="myTopnav">
    <a [routerLink]="['/recursos']" (click)="activo(1)" id="1" class="">Recursos</a>
    <a [routerLink]="['/bibexpedientes']" (click)="activo(2)" id="2" class="">Expedientes</a>
    <a [routerLink]="['/estadisticas']" (click)="activo(3)" id="3" class="">Aula Virtual</a>
    <div class="dropdown">
      <button class="dropbtn">Perfil
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a [routerLink]="['/asociacion/profile']" (click)="activo(4)" id="4" class="">Editar Perfil</a>
        <a (click)="cerrarSesion();">Cerrar Sesión</a>
      </div>
    </div>
    <a href="javascript:void(0);" class="icon" (click)="myFunction()">&#9776;</a>
  </div>
  </div> -->

  <div class="header bgColorBlack header-buttons">
    <a [routerLink]="['/']"><img style="margin-left:1em;" src="../assets/img/LogoAishaLadoCherry.png" alt="logo"></a>
    <div>
      <button [routerLink]="['/asociacion/profile']" type="button" name="button"
        class="submitGris" class="btn-relleno">
        Perfil
      </button>
      <button (click)="cerrarSesion();" type="button" name="button"
        class="submitGris logoutAdmin icon-logout">
      </button>
    </div>
  </div>


  <div class="buttons-asociacion">
    <button
      name="button"
      class="btn-relleno"
      [routerLink]="['/recursos']">
      Biblioteca de Recursos
    </button>
    <button
      name="button"
      class="btn-relleno"
      [routerLink]="['/bibexpedientes']">
      Biblioteca de Expedientes
    </button>
    <button
      name="button"
      class="btn-relleno"
      [routerLink]="['/aulavirtual']">
      Aula Virtual
    </button>
  </div>

  <div class="lineaDiv"></div>
  <div class="buttons-asociacion buttons-asociacion-center">
    <button type="button" name="button" class="btn-relleno-negro"
            style="margin-bottom: 2%;" (click)="view(0)">
            Solicitantes
    </button>
    <button type="button" name="button" class="btn-relleno-negro"
            style="margin-bottom: 2%;" (click)="view(1)">
            Registrados
    </button>
  </div>

  <div>
    <a name="arriba"></a>
    <div id="alert">{{mensaje}}</div>
    <form method="post" (ngSubmit)="filter()" class="formAdmin">
      <input [(ngModel)]="searchNombre" class="sizeinput" type="text" name="Nombre" id="nombre" placeholder="Nombre">
      <input [(ngModel)]="searchEmail" class="sizeinput" type="text" name="Email" id="email" placeholder="Email">
      <select [(ngModel)]="searchProfesion" name="profesion" id="profesion" (change)="filter()">
        <option value="0"> Seleccione Profesión </option>
        <option *ngFor="let k of profesiones | keys;" value="{{profesiones[k].ID_Profesion}}">
          {{profesiones[k].Nombre}}
        </option>
      </select>
      <button type="submit" name="button" class="icon-search span"></button>
    </form>
    <div >
      <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="user">
          <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Nombre.split("'")[1]}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Email.split("'")[1]}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="dni">
            <mat-header-cell *matHeaderCellDef> DNI </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.DNI.split("'")[1]}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="opciones">
            <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a [routerLink]="['/user', {id:element.ID_Usuario}]">histórico</a>
              <button *ngIf="tabla == 0"
                      type="button" class="btn btn-outline-success icon-ok span"
                      (click)="activateUser(element.ID_Usuario, element.Email)"
                      title="Aceptar Usuarios">
              </button>
              <button type="button" class="btn btn-outline-danger icon-cancel span"
                      (click)="cancelUser(element.ID_Usuario)"
                      title="Cancelar Usuarios">
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>

      <!-- PAGINACION -->
   <ul class="pagination" *ngIf="paginas.length >1">
   <!--Boton de pagina anterior-->
     <li>
       <a (click)="pasarPagina(pagBack)">
         <span aria-hidden="true">&laquo;</span>
       </a>
     </li>
     <li *ngFor="let pag of paginas; let i=index">
       <a (click)="pasarPagina(i+1)">
         <span *ngIf="(i+1)==pagActual" class="active">{{i+1}}</span>
         <span *ngIf="(i+1)!=pagActual" >{{i+1}}</span>
       </a>
     </li>
     <!--Boton de pagina siguiente-->
     <li>
       <a (click)="pasarPagina(pagNext);">
         <span aria-hidden="true">&raquo;</span>
       </a>
     </li>
   </ul>

      <div *ngIf="(user | keys).length === 0 && !loading"
           class="alert alert-info" role="alert">
        <strong>No hay</strong> registros que mostrar
      </div>

      <div *ngIf="loading"
           class="alert alert-info" role="alert">
        <strong>Cargando...</strong>por favor espere
      </div>

    </div>
  </div>
</div>
