
<div class="divBlanco bgColorWhite">


  <header>
    <a href="principal.component.html"><img style="margin-top:20px; width:100px;" src="../assets/img/AISHA.png" alt=""></a>
  </header>
  <div class="lineaDiv"></div>
  <div id="alert">{{mensaje}}</div>

  <form (ngSubmit)="login(forma)" #forma="ngForm">
    <div class="camposForm">
      <label for="email">Email</label>
        <input [(ngModel)]="json.Email" class="lineaCampo" type="email" name="email" id="email" required>
      <label for="contra">Contraseña</label>
        <input [(ngModel)]="json.Password" class="lineaCampo" type="password" name="contra" id="contra" required>
    </div>
    <div>
      <input [(ngModel)]="check_asoc" type="checkbox" name="asociacion" value="asociacion" id="check">
        <label for="check" class="text12">Soy una asociación</label> <br>
      <button type="submit" name="button" class="btn-border">ENTRAR</button>
    </div>
  </form>

  <footer class="footerDivLogin bgColorGrey">
    <p>¿Aún no eres miembro?</p>
    <a [routerLink]="['/registro']"><p><b>Regístrate</b></p></a>
  </footer>
</div>
