
<div class="editarPerfil" style="width: 60%; margin-left: 20%;">

  <img src="{{asociacion.Foto}}" alt="imagen asociacion">
  <hr>

  <form class="" action="index.html" method="post" style="display: inline-grid; margin-top:5%; width:70%;">
    <div class="" style="margin-right:10%;">
      <label for="nombre">Nombre Asociación:</label>
      <input type="text" name="nombre" value="{{asociacion.Nombre}}" id="email" disabled="false" class="lineaCampo">
    </div>
    <div class="" style="margin-right:10%;">
      <label for="email">Email:</label>
      <input type="email" name="email" value="{{asociacion.Email}}" id="email" class="lineaCampo">
    </div>
    <div class="" style="margin-right:10%;">
      <label for="direc">Dirección:</label>
      <input type="text" name="direc" value="{{asociacion.Direccion}}" id="direc" class="lineaCampo">
    </div>
    <div class="" style="margin-right:10%;">
      <label for="cif">CIF:</label>
      <input type="text" name="cif" value="{{asociacion.CIF}}" id="cif" class="lineaCampo" disabled="false">
    </div>

    <button type="button" name="button" class="submitNegro textoBlanco"
            style="margin-bottom:5%; width:50%; margin-left:25%;" (click)="change = !change">
      Cambiar Contrseña
    </button>
    <div class="" *ngIf="change" style="display: inline-grid;">
      <div class="" style="margin-right:10%;">
        <label for="pass">Antigua Contraseña:</label>
        <input type="password" name="password" value="" id="pass" class="lineaCampo">
      </div>
      <div class="" style="margin-right:10%;">
        <label for="newpass">Nueva Contraseña:</label>
        <input type="password" name="newpassword" value="" id="newpass" class="lineaCampo">
      </div>
    </div>

    <button style="margin-bottom:5%; width:50%; margin-left:25%;" type="submit" name="button" class="btn-inline textoBlanco">
      Cambiar
    </button>
  </form>
</div>
