<div *ngIf="error">
  <app-error></app-error>
</div>
<div *ngIf="!error">
    <app-header-asociacion></app-header-asociacion>
  <!-- <button [routerLink]="['/asociacion']"type="button" name="button" class="btn-return textoBlanco icon-return">
  </button> -->
  <div class="editarPerfil divBlanco bgColorWhite">

    <img src="https://aisha.ovh{{asociacion.Foto}}" class="fotoPerfil" alt="imagen asociacion">
    <hr>

    <div id="alert">{{mensaje}}</div>
    <form (ngSubmit)="save(form, place)" #form="ngForm" style="display: inline-grid; margin-top:5%; width:70%;">
      <div style="margin-right:10%;">
        <label for="nombre">Nombre Asociación:</label>
        <input [(ngModel)]="asociacion.Nombre" type="text" name="nombre" value="{{(asociacion.Nombre)}}" class="lineaCampo" disabled>
      </div>
      <div class="" style="margin-right:10%;">
        <label for="email">Email:</label>
        <input type="email" name="email" value="{{asociacion.Email}}" id="email"
              [(ngModel)]="asociacion.Email" class="lineaCampo" required>
      </div>
      <div class="" style="margin-right:10%;">
        <label for="direccion">Dirección:</label>
        <div id="locationField">
          <input type="text"  id="direccion" class="lineaCampo" value="{{oldPlaceName}}, {{oldPais}}" autocorrect ='off' autocapitalize='off' spellcheck="off"  #place>
        </div>
        <!-- <input type="text" name="direc" value="{{asociacion.Direccion}}" id="direc" -->
                <!-- [(ngModel)]="asociacion.Direccion" class="lineaCampo" required> -->
      </div>
      <div class="" style="margin-right:10%;">
        <label for="cif">CIF:</label>
        <input type="text" name="cif" value="{{asociacion.CIF}}" id="cif" class="lineaCampo" disabled>
      </div>

      <button type="button" name="button" class="btn-border" style="width:160px; margin: 0 auto;" (click)="change = !change">
        Cambiar Contraseña
      </button>
      <div class="" *ngIf="change" style="display: inline-grid;">
        <div class="" style="margin-right:10%;">
          <label for="pass">Antigua Contraseña:</label>
          <input type="password" [(ngModel)]="oldPassword" name="password" value="" id="pass" class="lineaCampo">
        </div>
        <div class="" style="margin-right:10%;">
          <label for="newpass">Nueva Contraseña:</label>
          <input type="password" [(ngModel)]="asociacion.Password" name="newpassword" value="" id="newpass" class="lineaCampo">
        </div>
      </div>
      <div>
        <label for="fotoP">Foto de perfil</label>
        <input class="inputfile" name="fotoP" id="fotoP" type="file" (change)="onFileChange($event)" #fileInput>
        <label class="btn-relleno-negro" for="fotoP">Elige un archivo</label>
      <br>
        <button type="submit" name="button" class="btn-relleno">Guardar cambios</button>
      </div>
    </form>
  </div>
</div>
