<div *ngIf="error">
  <app-error></app-error>
</div>
<div *ngIf="!error">
<div *ngIf="asociacion">
  <app-header-asociacion></app-header-asociacion>
</div>
<div *ngIf="admin">
  <app-header-admin></app-header-admin>
</div>
<div *ngIf="usuario">
  <app-header></app-header>
</div>
  <div class="divBlancoExpPcpal">
<!-- TODO: No pudes voler para atras -->
    <!-- <div class="tabsExpediente">
      <button id="bl1" class="tabItem" (click)="bloque=1">
        Bloque 1
      </button>
      <button id="bl2" class="tabItem" (click)="bloque = 2">
        Bloque 2
      </button>
      <button id="bl3" class="tabItem" (click)="bloque = 3">
        Bloque 3
      </button>
      <button id="bl4" class="tabItem" (click)="bloque = 4">
        Bloque 4
      </button>
      <button id="bl5" class="tabItem" (click)="bloque = 5">
        Bloque 5
      </button>
    </div> -->

<!--
    <button [routerLink]="['/misexpedientes']"type="button" name="button" class="btn-return textoBlanco icon-return">
    </button>-->
    <mat-tab-group id="bloqueHeader" [selectedIndex]="selectedTab" >
      <mat-tab label="Datos sociodemográficos" [disabled]="bloque1" id="bloque1">
        <div class="divBloqueExp2">
          <!-- {{ cambiarColorBl1() }} -->
          <app-bloque1></app-bloque1>
      </div>
      </mat-tab>
      <mat-tab label="Acerca de MGF" [disabled]="bloque2" id="bloque2">
        <div class="divBloqueExp2">
            <app-bloque2></app-bloque2>
        </div>
      </mat-tab>
      <mat-tab label="Experiencias con la titular" [disabled]="bloque3" id="bloque3">
        <div class="divBloqueExp2">
            <app-bloque3></app-bloque3>
        </div>
      </mat-tab>
      <mat-tab label="Exploracion genital" [disabled]  = "bloque4" id="bloque4">
        <div class="divBloqueExp2">
            <app-bloque4></app-bloque4>
        </div>
      </mat-tab>
      <mat-tab label="Viajes" [disabled] = "bloque5" id="bloque5">
        <div class="divBloqueExp2">
            <app-bloque5></app-bloque5>
        </div>
      </mat-tab>
    </mat-tab-group>

<!-- <button (click) = "prueba()">Prueba</button> -->

<!--

     <div class="divBloque divBloqueExp">
      <div *ngIf="bloque === 1">
        {{ cambiarColorBl1() }}
        <app-bloque1></app-bloque1>
      </div>
      <div *ngIf="bloque === 2">
        {{ cambiarColorBl2() }}
        <app-bloque2></app-bloque2>
      </div>
      <div *ngIf="bloque === 3">
        {{ cambiarColorBl3() }}
        <app-bloque3></app-bloque3>
      </div>
      <div *ngIf="bloque === 4 ">
        {{ cambiarColorBl4() }}
        <app-bloque4></app-bloque4>
      </div>
      <div *ngIf="bloque === 5">
        {{ cambiarColorBl5() }}
        <app-bloque5></app-bloque5>
      </div>

    </div>-->
  <!-- Div para poner el boton de terminar -->
  <button class="btn-border" (click)="terminar();" [routerLink]="['/home']" >Terminar</button>

      <div>
    </div>


    </div>


  <app-footer></app-footer>
</div>
