<div *ngIf="error">
  <app-error></app-error>
</div>
<div *ngIf="!error">
  <app-header></app-header>

  <div>
<!-- TODO: No pudes voler para atras -->
    <div class="tabsExpediente">
      <button class="tabItem" (click)="bloque=1">
        Bloque 1
      </button>
      <button class="tabItem" (click)="bloque = 2">
        Bloque 2
      </button>
      <button class="tabItem" (click)="bloque = 3">
        Bloque 3
      </button>
      <button class="tabItem" (click)="bloque = 4">
        Bloque 4
      </button>
      <button class="tabItem" (click)="bloque = 5">
        Bloque 5
      </button>
    </div>

    <div class="divBloque">
      <div *ngIf="bloque === 1">
        <app-bloque1></app-bloque1>
      </div>
      <div *ngIf="bloque === 2">
        <app-bloque2></app-bloque2>
      </div>
      <div *ngIf="bloque === 3">
        <app-bloque3></app-bloque3>
      </div>
      <div *ngIf="bloque === 4 ">
        <p>Formulario Bloque 4</p>
      </div>
      <div *ngIf="bloque === 5">
        <app-bloque5></app-bloque5>
      </div>
    </div>
<!-- Div para poner el boton de terminar -->
<button (click)="terminar();" [routerLink]="['/home']" >Terminar </button>

    <div>
    </div>

  </div>
  <app-footer></app-footer>
</div>
