<div *ngIf="error">
  <app-error></app-error>
</div>
<div *ngIf="!error">
<!-- <app-header></app-header> -->

  <!-- <div class="itemTodo">
  <a [routerLink]="['/misexpedientes']" (click)="activo(1)">
      <div class="itemColor bgColorWhite">
          <img class="itemImagenAlta itemImagenWhite" src="../assets/img/Expediente.png" alt="iconExpediente">
          <img class="itemImagenAlta itemImagenCherry" src="../assets/img/ExpedientePink.png" alt="iconExpediente">
        <p class="itemTitle textPink">Mis Expedientes</p>
        <p class="itemText">Lleve el seguimiento de sus casos con la creación de expedientes</p>
      </div>
  </a>

  <a [routerLink]="['/bibexpedientes']" (click)="activo(2)">
      <div class="itemColor bgColorWhite">
          <img class="itemImagenWhite" src="../assets/img/IconBiblioExp.png" alt="iconBiblioExpediente">
          <img class="itemImagenCherry" src="../assets/img/BiblioIcon.png" alt="iconBiblioExpediente">
        <p class="itemTitle textPink">Expedientes Públicos</p>

        <p class="itemText">Consulte expedientes que otros profesionales hayan compartido</p>
      </div>
  </a>

  <a [routerLink]="['/estadisticas']" (click)="activo(3)">
      <div class="itemColor bgColorWhite">
          <img class="itemImagenWhite" src="../assets/img/ApiDatos.png" alt="iconApiDatos">
          <img class="itemImagenCherry" src="../assets/img/estadisticas.png" alt="iconApiDatosCherry">
        <p class="itemTitle textPink">Estadísticas</p>

        <p class="itemText">Conozca el riesgo de ablación según estos factores</p>
      </div>
  </a>

  <a [routerLink]="['/recursos']" (click)="activo(4)">
      <div class="itemColor bgColorWhite">
          <img class="itemImagenAlta itemImagenWhite" src="../assets/img/PDFIcon.png" alt="iconPDF">
          <img class="itemImagenAlta itemImagenCherry" src="../assets/img/PDFIconPink.png" alt="iconPDFCherry">

        <p class="itemTitle textPink">Biblioteca de Recursos</p>

          <p class="itemText">Acceda a todo tipo de recursos como PDFs, imágenes o vídeos</p>
      </div>
  </a>

  <a [routerLink]="['/aulavirtual']" (click)="activo(5)">
      <div class="itemColor bgColorWhite">
          <img class="itemImagenWhite" src="../assets/img/Cubes.png" alt="icon3D">
          <img class="itemImagenCherry" src="../assets/img/ModeloIcon.png" alt="icon3DCherry">
        <p class="itemTitle textPink">Aula virtual</p>

        <p class="itemText">Modelo en 3D que muestra las causas de la MGF</p>
      </div>
  </a>

  <a [routerLink]="['/chat']" (click)="activo(6)">
      <div class="itemColor bgColorWhite">
            <img class="itemImagenWhite" src="../assets/img/Foro.png" alt="iconChat">
            <img class="itemImagenCherry" src="../assets/img/ChatIconPink.png" alt="iconChatCherry">
          <p class="itemTitle textPink">Chat</p>

          <p class="itemText">Póngase en contacto con otros profesionales mediante nuestro chat</p>
      </div>
  </a>
</div>-->
</div>

<div class="containerCards">
  <div class="perfilCard textBlack bgColorWhite">
    <div class="cabeceraPerfilCard">
      <div class="fotoPerfilCard">
        <img src="https://aisha.ovh{{user.Foto}}" class="fotoPerfilImg" alt="imagen perfil">
      </div>
    </div>
    <div class="nombreAsociacion">
      <p id="nombreCard" class="text16"><b>{{user.Nombre.split("'")[1]}} {{user.Apellidos.split("'")[1]}}</b></p>
    <br>
      <p>{{user.Asociacion.split("'")[1]}}</p>
      <br>
    </div>
      <hr class="hrHome">

      <div class="divLabelsDeUno divPerfiLabel">
        <div class="divExpDeUno">
          <p class="text14"><b>Profesión</b></p>
        </div>
        <div class="divExpDeUno">
          <p>{{user.Profesion}}</p>
        </div>
      </div>

      <div class="divLabelsDeUno divPerfiLabel">
        <div class="divExpDeUno">
          <p class="text14"><b>Localidad</b></p>
        </div>
        <div class="divExpDeUno">
          <p>{{user.Sitio}}, {{user.Pais}}</p>
        </div>
      </div>

      <div class="divLabelsDeUno divPerfiLabel">
        <div class="divExpDeUno">
          <p class="text14"><b>Fecha de registro</b></p>
        </div>
        <div class="divExpDeUno">
          <p>{{user.FechaRegistro.split("T")[0]}}</p>
        </div>
      </div>

      <hr class="hrHome">

      <div class="divLabelsDeUno divPerfiLabel">
        <div class="divExpDeUno">
          <p class="text14"><b>Nº expedientes</b></p>
        </div>
        <div class="divExpDeUno">
          <p>{{numExp.Expedientes}}</p>
        </div>
      </div>

      <div class="divLabelsDeUno divPerfiLabel">
        <div class="divExpDeUno">
          <p class="text14"><b>Nº expedientes públicos</b></p>
        </div>

        <div class="divExpDeUno">
          <p>{{numExp.Publicos}}</p>
        </div>
      </div>

      <div class="botonesPerfilCard">
        <button class="btn-border"  [routerLink]="['/user/profile']">EDITAR PERFIL</button>
        <button class="btn-border"  (click)="logout();">CERRAR SESIÓN</button>
      </div>

  </div>

  <div class="footerCard">
    <p class="text12">&copy; 2018 Aisha Project All Right Reserved</p>
    <a class="text12" href="/contacto/">CONTACTO</a>
    <a class="text12" href="https://www.aisha.ovh/fibbe/sobre-nosotros/">QUIENES SOMOS</a>
    <a class="text12" [routerLink]="['/politica-privacidad']">POLÍTICA DE PRIVACIDAD</a>
  </div>


  <div class="biblioExpCard textWhite bgColorBlue" id="biblioExpCardid" style="margin-bottom:10px;">
    <a class="textWhite" [routerLink]="['/bibexpedientes']">
      <div class="textCard floatLeft">
        <h2>EXPEDIENTES PÚBLICOS</h2>
        <p>Consulte expedientes que otros profesionales hayan <b>compartido</b>.</p>
      </div>
    </a>

    <div class="misExpCard textBlack bgColorWhite">
      <div class="textCard">
        <a [routerLink]="['/misexpedientes']">
          <h2>MIS EXPEDIENTES</h2>
          <p>Lleve el seguimiento de sus casos con la creación de <b>expedientes</b>.</p>
        </a>
        <button class="btn-relleno newExpButton" id="btn-options" [routerLink]="['/expediente']">NUEVO EXPEDIENTE</button>
      </div>
    </div>

  </div>

  <div class="aulaCard textBlack bgColorWhite comunCard">
    <a [routerLink]="['/aulavirtual']">
      <div class="textCard">
        <h2>AULA VIRTUAL</h2>
        <p>Visualice el modelo 3D que muestra los distintos <b>tipos</b> de mutilación.</p>
      </div>
    </a>
  </div>

  <div class="biblioRecursosCard textWhite bgColorBlue comunCard">
    <a class="textWhite" [routerLink]="['/recursos']">
      <div class="textCard">
        <h2>BIBLIOTECA DE RECURSOS</h2>
        <p>Acceda a todo tipo de recursos como <b>PDFs, imágenes </b> o <b>vídeos</b>.</p>
      </div>
    </a>
  </div>

  <div class="estadisticasCard textWhite bgColorBlue comunCard">
    <a class="textWhite" [routerLink]="['/estadisticas']">
      <div class="textCard">
        <h2>ESTADÍSTICAS</h2>
        <p>Conozca el riesgo de la <b>mutilación genital femenina</b> según diversos factores.</p>
      </div>
    </a>
  </div>

  <div class="chatCard textBlack bgColorWhite comunCard">
    <a [routerLink]="['/chat']">
      <div class="textCard">
        <h2>CHAT</h2>
        <p>Póngase en contacto con otros <b>profesionales</b> mediante el chat.</p>
      </div>
    </a>
  </div>

</div>


<!--
<app-footer></app-footer> -->
