<form (ngSubmit)="guardarDatos(forma)" #forma="ngForm">

  <h2 class="cherry">EXPERIENCIAS CON LA MGF DE LA VÍCTIMA</h2>
    <!--mensaje error-->
  <div id="alert">{{mensaje}}</div>

    <div class="divExpDeUno">
      <label for="exp_propias">Experiencias propias</label>
      <span matTooltip="¿Tiene usted la ablación realizada? ¿Qué sobre esta práctica?" class="pointer icon-info info"></span>
    </div>
    <textarea class="textareaBl2" [(ngModel)]='json.Exp_propias' type="exp_propias" name="exp_propias" id="exp_propias" placeholder="Experiencias propias acerca de la ablación..." required></textarea>

    <div class="divExpDeUno">
      <label for="exp_terceros">Experiencias de terceros</label>
      <span matTooltip="¿Conoce a alguna mujer que tenga la ablación realizada?" class="pointer icon-info info"></span>
    </div>
    <textarea class="textareaBl2" [(ngModel)]='json.Exp_terceros' type="exp_terceros" name="exp_terceros" id="exp_terceros" placeholder="Experiencias de terceros..." required></textarea>

    <label for="mant_MGF">Mantenimiento de la MGF</label> <!-- si/no y luego un textarea porque -->
    <span matTooltip="¿Cree que su hija debería ser cortada? ¿Qué piensa sobre realizarsela a su hija?" class="pointer icon-info info"></span>
    <select [(ngModel)]='json.Mant_MGF' name="mant_MGF" id="mant_MGF" >
      <option *ngFor="let k of opciones | keys;" value="{{opciones[k].id}}">{{opciones[k].opcion}}</option>
    </select>

    <div *ngIf="json.Mant_MGF==1">
      <label for="mant_MGF_texto">¿Por qué?</label>
      <textarea class="textareaBl2" [(ngModel)]='json.Mant_MGF_texto' type="mant_MGF_texto" name="mant_MGF_texto" id="mant_MGF_texto"></textarea>
    </div>

    <h2 class="text16 textPink">CONOCIMIENTO SOBRE CONSECUENCIAS DE LA MGF<span matTooltip="¿Conoce las consecuencias para la salud que lleva una ablación?" class="pointer icon-info info"></span></h2>

    <label for="conoc_consecM">Sobre la salud de las mujeres</label>

    <select [(ngModel)]='json.Conoc_consecM' id="conoc_consecM" name="conoc_consecM">
      <option *ngFor="let k of opciones | keys;" value="{{opciones[k].id}}">{{opciones[k].opcion}}</option>
    </select>

    <label for="otros_consecM">¿Por qué?</label>
    <textarea class="textareaBl2" [(ngModel)]='json.Otros_consecM' type="otros_consecM" name="otros_consecM" id="otros_consecM"></textarea>

    <label for="conoc_consecM">Sobre la salud de los hombres</label>
    <select [(ngModel)]='json.Conoc_consecH' id="conoc_consecM" name="conoc_consecM">
      <option *ngFor="let k of opciones | keys;" value="{{opciones[k].id}}">{{opciones[k].opcion}}</option>
    </select>
    <label for="otros_consecH">¿Por qué?</label>
    <textarea class="textareaBl2" [(ngModel)]='json.Otros_consecH' type="otros_consecH" name="otros_consecH" id="otros_consecH"></textarea>

    <h2 class="text16 textPink">INTERVENCIÓN  <span matTooltip="Este apartado es de respuesta abierta y libre, su cumplimentación favorece la comunicación de intervenciones efectivas." class="pointer icon-info info"></span></h2>
    <label for="exp_propias">Formato de la intervención</label>
    <textarea  class="textareaBl2" [(ngModel)]='json.Formato_int' type="formato_int" name="formato_int" id="formato_int" placeholder="Formato de la intervención..." required></textarea>

    <label for="exp_propias">Consejos para otros profesionales</label>
    <textarea class="textareaBl2" [(ngModel)]='json.Consejo' type="consejo" name="consejo" id="consejo" placeholder="Consejos para otros profesionales..." required></textarea>

    <div class="centrar">
      <button class="btn-relleno" type="submit">Guardar</button>
    </div>
</form>
