<div *ngIf="error">
  <app-error></app-error>
</div>
<div *ngIf="!error">
  <app-header></app-header>

  <!-- Chats -->
  <div class="divChat divBlanco bgColorWhite">
    <header>
      <button (click)=salir() type="button" class="btn btn-relleno" [routerLink]="['/home']">Salir</button>
      <h2>Chats</h2>
    </header>
    <div class="lineaDiv"></div>
    <div *ngIf="conversaciones.length > 0">
      <div *ngFor="let c of conversaciones">
        <span (click) = "getMessages(c.ID_Usuario1, c.ID_Usuario2)">{{c.Nombre}}</span>
        <!-- c.Nombre.split("'")[1] -->
      </div>
    </div>
  </div>

  <!-- Conversacion -->
    <div class="divBlanco bgColorWhite">
      <header>
        <h2></h2>
      </header>
      <div class="lineaDiv"></div>
      <div *ngIf="mensajes.length > 0">
        <div *ngFor="let m of mensajes">
          <strong>{{m.Nombre.split("'")[1]}}:</strong>
          <span>{{m.Texto}}</span>
        </div>
      </div>

      <footer class ="bgColorPink">
        <form (ngSubmit)="enviarMensaje(conversacion.ID_Usuario1, conversacion.ID_Usuario2, conversacion.ID_Socket)" class="formChat">
            <input [(ngModel)]="mensaje" type="text" name="mensaje" placeholder="Escribe Aquí" autocomplete="false">
            <button type="submit">Enviar</button>
        </form>
      </footer>
      </div>
      <app-footer></app-footer>

</div>
