/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
* {
  box-sizing: border-box;
}

html,
body {padding:0; margin:0; }

html{
  font-family: HiraKakuPro-W3, Verdana;
  font-size: 16px;
  color: #333333;
  background: #F2F2F2;
  text-align: center;
}

p{margin: 0;}

a{
  /*color: #333333;*/
  text-decoration: none;
}

h1, h2, h3{
  font-size:20px;
  font-weight: lighter;
}

form{
  padding: 20px;
}

th, td{padding: 15px;}

label{
  text-align: left;
  padding-left: 5px;
  margin-top: 3px;
}

input, textarea{
  font-size: 16px;
  color: #7F7F7F;
}

textarea {
  resize: none;
  margin-bottom: 25px;
}

textarea:hover{ border-bottom: 2px solid;}

span{font-size: small;}

ul{list-style: none;}

br{
  display: block;
  content: " ";
  margin-top:8px;
}

canvas{
  margin:5%;
  width: 90%;
  height: 500px;
  border: 3px solid #880042;
  background: grey;
}

.divBlanco{
  display: inline-block;
  margin: auto;
  margin-top: 1%;
  box-shadow: 1px 1px 1px 0 rgba(203,203,203,0.50);
  width: 50%;
}

.camposForm{
  display: inline-grid;
  width: 60%;
  text-align: left;
}

.checkbox{
  border: 1px solid #333333;
  border-radius: 2px;
}

.footerDiv{
  padding: 2%;
}

.lineaCampo{
  background: none;
  border: none;
  border-bottom: 1px solid #333333;
  margin-bottom: 25px;
  width: 100%;
}

.lineaCampo:hover{
  border-bottom: 2px solid;
}

.lineaDiv{
  border: 1px solid #DBDBDB;
  margin: auto;
  margin-bottom: 2%;
  width: 90%;
}

.lineaNoticia{
  border: 1px solid #880042;
  margin-left: 5%;
  width: 20%;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 25px;
}

.Eslogan{
  margin: 0 auto;
  width:40%;
  margin-top: 5%;
  margin-bottom: 0px;
  font-size: 20px;
}

.lineaEslogan{
  border: 1px solid #880042;
  margin-left: 5%;
  margin-bottom: 25px;
  width: 40%;
  margin: 0 auto;
  margin-top: 20px;
}

/** CAROUSEL **/

.carouselDiv{
  margin: 0 auto;
  width:90%;
}

.LeftDiv{
  width:10%;
  float:left;
  margin-top:180px;
}

.RightDiv{
  width:10%;
  float:right;
  margin-top:180px;
}

.CarouselImage{/*
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;*/
  margin: 0 auto;
  max-width: 800px;
  width:80%;
  display: inline-block;
}

.mySlides{
  display: none;
  margin: 0 auto;
}

/** CAROUSEL **/

.language{
  float:right;
  margin-top: 20px;
  margin-right: 9%;
}

.google{
  margin-top: 25px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  width: 100%; /*width: 370px;*/
}

.radioButtons{
  display: block;
  margin-bottom: 25px;
}

.g-signin2{display: inline;}

.span{
  background: none;
  border: none;
}

.divAdmin{
  text-align: left;
  background: #D8D8D8;
  border: 1px solid #979797;
  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24);
  padding-bottom: 1%;
  position: absolute;
  width: 250px;
  height: 100%;
}

.divAdmin-menuExpanded{
  display: none;
}

.divAdmin-content{
  width: 80%;
  float: right;
}

.icon-menu{
  background: none;
  border: none;
  display: none;
  float: left;
  font-size: 20px;
  margin: 0.7em;
  color: white;
}

.menuAdmin{
  float:left;
  background: none;
  border: none;
  padding: 2%;
}
.divAdmin ul{float: left; width: 100%; padding: 10%}
.divAdmin li{padding: 10%;}
.divAdmin a:hover{color: #880042; text-decoration: underline;}

.logoutAdmin{
  background: none;
  border: none;
  margin: 1%;
}

.logoPeque{width: 4%; float: left;}

.logoPrincipal{
    width: 200px;
    float: left;
    margin-top: 3%;
    margin-left: 9%;
}

.logoPrincipal2{
  margin-top: 10px;
  display: none;
}

.pointer{cursor: pointer;}

.progress{
  height: 0.5rem;
  width: 100%;
  background: #e9ecef;
  margin-bottom: 1rem;
  display: flex;
}

.editarPerfil{
  width: 60%;
}

.headerPermisos{
  background: #9C0C54;
  border: 2px solid #9C0C54;
  border-radius: 2px;
}

.headerPrincipal{
  display: block;
  width: 100%;
  padding-bottom: 12%;
}

.permisos{
  background-color: none;
  border: 2px solid #9C0C54;
  border-radius: 4px;
}

.fotoPerfil{
  width: 20%;
  margin-top: 2%;
}

.fotoPerfil:hover{background: rgba(191,191,191,0.50);}

.alert{
  position: relative;
  padding: .75rem 1.25rem;
  margin: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-danger{background-color: #f8d7da;}
.alert-success{background-color: #d4edda;}

.noticias{
  width: 100%;
}

.noticia{
  display: inline-block;
  width:300px;
  margin:0px 1%;
  height: 30px;
}

.noticiasText{
  padding-bottom: 20px;
  text-align: left;
}

.noticiaTitle{
  margin-top: 15px;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.masNoticias{
  width: 120px;
  float:right;
  margin-top: -64px;
  margin-right: -650px;
}

.masNoticias:hover{
  filter: invert(100%);
}

.botonesPrincipal{
  float:right;
  width:370px;
  padding-top:30px;
  display: flex;
  justify-content: right;
}

.suscripcion{
  margin: 0 auto;
  width:40%;
  margin-top:30px;
  padding-top:30px;
  padding-bottom:40px;
}

.recurso{
  display: inline-block;
  width:300px;
  margin:0px 1%;
  height: 30px;
}

.recursosDiv{
  background-size: cover;
  padding:0 15%;
  margin-top:0px;
  height:258px;
  background-image:url("assets/img/Recursos.png");
}

.divRecurso{
  background-color: #F1F4F2;
  width:290px;
  height:120px;
  margin:0;
  margin-bottom:100px;
}

.recursosText{
  text-align: left;
  margin-top:0px;
  padding-top:35px;
  margin-left:12px;
  margin-bottom:35px;
}

.recursoIcon{
  float:left;
  margin:25px 0px;
  margin-left:30px;
  margin-right:0px;
}

.estadisticaIcon{
  float:left;
  margin:37px 30px;
  margin-right:0px;
}

.textoRecursos{
  line-height: 16px;
  width:50%;
  margin-top:22px;
  margin-right:25px;
  text-align: left;
  float:right;
}

.footerDiv{
  clear:both;
  width:100%;
  margin:auto;
  overflow: hidden;
  right: 0;
  bottom: 0;
  left: 0;
  width:100%;
  margin-top:4%;
}

.infoFooter{
  display: inline-block;
  width: 100%;
  padding-bottom:1%;
}

.divpFooter{
  align-self: center;
  display: inline-block;
  width:32%;
}

.rect-success{
  background-color: #BAE4BE;
}

.rect-danger{
  background-color: #F5BFBF;
}

.itemContainer{
  max-width: 83%;
  width: 83%;
  padding-left: 60px;
  margin:0 auto;
  margin-top:100px;
}

.itemBg{
  display: inline-block;
  width: 300px;
  margin:2%;
  height: 300px;
  float:left;
  box-shadow: 1px 1px 1px 0 rgba(203,203,203,0.50);
}

.itemColor{
  width:300px;
  height:172px;
}

.itemText{
  padding-top:20px;
  font-size:20px;
  color:white;
}

/*** USUARIO HOME  *****/

.itemOver{
  position: absolute;
  z-index: -1;
}

.itemDescription{
  width:87%;
  margin:0 auto;
  height: 77px;
  margin-top:10px;
}

/** HEADER **/

.header{
  height: 90px;
}

.notification{
  position: relative;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  float:right;
  margin-top:12px;
  margin-right:80px;
}

.infoDivPerfil{
  margin-top:12px;
  text-align: left;
  z-index: 2;
  float: right;
  width: 148px;
  margin-right: 6px;
}

.divPerfil{
  margin-top:-215px;
  z-index: 2;
  float: right;
  width: 150px;
  margin-right: 15px;
}

.options{
  position:relative;
  z-index: 2;
  font-size:14px;
}

.grey{
  color: #8B8B8B;
}

.DivOption{
  margin: 12px 0px;
}

.DivOptionLogout{
  margin:0;
  padding: 0;
  background-color: none;
  border:none;
  font-size:14px;
}

.numberOption{
  float:right;
  margin-top:-30.5px;
  margin-right:27px;
}

.infoDivPerfil,
#perfilTrigger{
  display: none;
}

#perfilTrigger:checked + .infoDivPerfil{
  display: block;
}

.vermasCentro{
  width:80%;
  box-shadow: 1px 1px 1px 0 rgba(203,203,203,0.50);
  margin:0 auto;
  margin-top:120px;
  margin-bottom:40px;
  padding-bottom:15px;
}

.vermasPeq{
  width: 80%;
  margin:0 auto;
}

.vermasLado{
  display: inline-block;
  margin:0 5px;
  float:left;
  width:47%;
  padding-bottom:20px;
  margin-bottom: 40px;
  box-shadow: 1px 1px 1px 0 rgba(203,203,203,0.50);
}

.vermasCentroText{
  margin:0 auto;
  width:80%;
  margin-top: 15px;
}

.caracteristicasLeft{
  text-align: left;
  margin-top:10px;
  float:left;
  width: 64%;
  margin-left: 40px;
}

.tickCrossIcon{
  margin-top:-30px;
  width: 25px;
  float: right;
  margin-bottom: 10px;
}

/********** Expedientes ***********/
.tabsExpediente{
  padding: 3%;
  padding-bottom: 0;
  display: flex;
  flex-wrap: wrap;
}

.tabItem{
  margin-right: 2%;
  padding: 1%;
  border: solid 1px;
  border-bottom: none;
  background: none;
}

.divBloque{
  margin: 3%;
  margin-top: 0;
  display: block;
  border: solid 1px;
  padding: 1%;
}

.partos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.partoContainer{
  border: solid #234;
  flex-direction: column;
}

/***** PAGINATION *****/
.pagination{
  display: inline-flex;
  padding: 0;
}

.pagination li{
  padding: 0.3em;
  border-bottom: solid #ddd;
}

.pagination li:hover{
  cursor: pointer;
  border-bottom: solid #880042;
}

.divError{
  display: inline-flex;
  margin: 1%;
  margin-top: 10%;
}

.divError div{
  width: 48%;
}

.icon-logout{
  font-size: 140%;
  color: white;
}
/***** TOOLTIP *****/
.info{
  color: white;
  border-radius: 100%;
  padding: 0.2%;
  font-size: 12px;
  background: #880042;
}

.info:hover{
  background: #0C8A9C;
}
.mat-tooltip {
  background: #0C8A9C;
  font-size: 14px;
}

/*Mis Expedientes*/
.optionsExp{
  display: block;
  margin-top: 2%;
  margin:auto;
  width: 80%;
  overflow: hidden;
}
.optionsExp p{
  cursor:pointer;
}
.optionsExp p:hover{
  font-weight: bold;
}

.optionsLeft{
  float: left;
  display: inline-flex;
}

.optionsRigth{
  display: inline-flex;
  float: right;
}

.expediente-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
  margin-top: 2%;
  overflow: hidden;
}

.expediente{
  /*position: relative;*/
  flex-direction: row;
  overflow: hidden;
  display: block;
  width: auto;
  /*margin-bottom: 2%;*/
  margin: 1%;
  padding: 1%;
}

.expedienteDesc{
  position: relative;
  letf:0;
  top:0;
  width: 100%;
}

.expedienteDesc img{
  opacity: 1;
  transition: opacity .5s;
}

.expedienteDesc p{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity .5s;

}
.expediente:hover img{
  opacity: .5;
}

.expedienteDesc:hover p{
  opacity: 1;
  background: #333333;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
}

.expedienteDesc:hover img{
  opacity: .5;
}

.expediente-body{
  width: 200px;/*Este tamaño es el ancho de la imagen del logo*/
  margin: auto;
}

/**** Recursos ****/
.recursos-container-filter{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.recursos-container-filter p:hover, .recursos-container-filter p:focus{
  cursor: pointer;
  font-weight: bold;
}

.recursos-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.recurso-item{
  margin: 1%;
  padding: 1%;
}

.recurso-info{
  position: relative;
}

.recurso-info img{
  opacity: 1;
  top: 0;
  width: 100%;
}

.recurso-info:hover img{
  opacity: 0.2;
}

.recurso-info:hover p{
  opacity: 1;
}

.recurso-info p{
  position: absolute;
	top: 0;
	left: 0;
	transition: opacity 1s;
	opacity: 0;
	padding: .2em;
	width: 100%;
	background: #333333;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recurso-descripcion:hover{
  opacity: 1;
  display: inline;
}

/**** RESPONSIVE ****/
@media (max-width: 700px) { /*1384*/
  h1{
    font-size:16px;
  }
  p{
    font-size:14px;
  }

  .vermasCentroText{
    font-size:16px;
  }

  .tickCrossIcon{
    width: 20px;
  }

  .caracteristicasLeft{
    margin-left:20px;
    width:78%;
  }

  .recursosText{
    margin-left:15%;
  }

  .divRecurso{
    float:left;
    margin-bottom:10px;
  }

  .recurso{
    display: block;
    width:300px;
    margin:0 auto;
    height: 30px;
  }

  .recursosDiv{
    height:500px;
  }
  .headerPrincipal{
    margin-bottom:20px;
  }

  .logoPrincipalDiv{
    width: 100%;
    height: 100px;
    margin:0 auto;
    display: flex;
    justify-content: center;
  }

  .logoPrincipal{
    display: none;
  }

  .logoPrincipal2{
    display: block;
  }

  .botonesPrincipal{
    padding-top:0px;
    display: flex;
    justify-content: center;
    margin-top:20px;
  }

  .registro{
    flex-direction: row;
    margin:0 10px;
  }

  .language{
    flex-direction: row;
    margin:0 10px;
    margin-top:6px;
  }

  .login{
    flex-direction: row;
    margin:0 10px;
  }

  .LeftDiv, .RightDiv{
    margin-top:50px;
  }
}


@media (max-width: 1384px) {
  /* laptop */
  h1{
    font-size:16px;
  }
  p{
    font-size:14px;
  }

  .vermasCentroText{
    font-size:16px;
  }

  .tickCrossIcon{
    width: 20px;
  }

  .caracteristicasLeft{
    margin-left:20px;
    width:78%;
  }

  .recursosText{
    margin-left:15%;
  }

  .divRecurso{
    float:left;
    margin-bottom:10px;
  }

  .recurso{
    display: block;
    width:300px;
    margin:0 auto;
    height: 30px;
  }

  .recursosDiv{
    height:500px;
  }
}

@media (max-width:1025px) {
  /* big landscape tablets, laptops, and desktops */
  .camposForm{
    width: 70%;
  }

  .divBlanco{
    width: 80%;
  }

  .divAdmin{
    display: none;
  }

  .divAdmin-menuExpanded{
    display: block;
    background: #D8D8D8;
    border: 1px solid #979797;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24);
    padding-bottom: 1%;
    position: absolute;
    width: 30%;
    min-width: 200px;
  }

  .divAdmin-menuExpanded li{
    text-align: left;
    padding: 2%;
    margin-left: 0.3em;
  }

  .divAdmin-content{
    width: 100%;
  }

  .icon-menu{
    display: inline-block;
  }
}

@media (max-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .divBlanco{
    width: 100%;
  }

  .camposForm{
    width: 90%;
  }

  .btn-return{
    float: none;
  }

  .divAdmin-menuExpanded{
    width: 100%;
  }

  .divError{
    display: block;
  }

  .divError div{
    display: inline-block;
    margin: auto;
    width: 100%;
    margin-bottom: 2%;
  }
}
