/* You can add global styles to this file, and also import other style files */
html{
  font-family: HiraKakuPro-W3, Verdana;
  font-size: 16px;
  color: #333333;
  background: #F2F2F2;
  text-align: center;
}

body{
  height: 100%;
  margin: 0;
  padding: 0;
}

p{margin: 0;}

a{
  color: #333333;
  text-decoration: none;
}

h1{
  font-size:20px;
  font-weight: lighter;
}

form{
  display: inline-block;
  padding: 20px;
}

table{
  border-collapse: collapse;
  margin-bottom: 1rem;
  width: 90%;
  margin-left: 5%;
  background-color: #FFFFFF;
}

thead{
  background-color: black;
  color: #FFFFFF;
}

th, td, button{padding: 15px;}

label{
  text-align: left;
  padding-left: 5px;
  margin-top: 3px;
}

input{
  font-size: 16px;
  color: #7F7F7F;
}

span{font-size: small;}

ul{list-style: none;}

.divBlanco{
  margin-left: 30%;
  background: #FFFFFF;
  box-shadow: 1px 1px 1px 0 rgba(203,203,203,0.50);
  width: 40%;
}

.camposForm{
  display: inline-grid;
  width: 70%;
  text-align: left;
}

.textoPeq{font-size: 12px;}

.checkbox{
  border: 1px solid #333333;
  border-radius: 2px;
}

.footerDivGris{
  background: #DDDDDD;
  padding: 2%;
}

.lineaCampo{
  border: none;
  border-bottom: 1px solid #333333;
  margin-bottom: 25px;
}

.lineaDiv{
  border: 1px solid #DBDBDB;
  margin-left: 5%;
  margin-bottom: 25px;
  margin-top: 50px;
  width: 90%;
}

.lineaNoticia{
  border: 1px solid #880042;
  margin-left: 5%;

  width: 20%;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 25px;
}

.Eslogan{
  padding: 0px 450px;
  margin: 0;
  margin-top: 5%;
  margin-bottom: 0px;
  font-size: 20px;
}

.lineaEslogan{
  border: 1px solid #880042;
  margin-left: 5%;
  margin-bottom: 25px;
  width: 40%;
  margin: 0 auto;
  margin-top: 20px;
}
.btn-inline{
  display: inline;
  background: #880042;
  margin-bottom: 3%;
  margin-top: 3%;
  font-size: 18px;
  border-radius: 5px;
}

.submitGris{
  display: inline;
  background: #333333;
  margin-bottom: 3%;
  margin-top: 3%;
  font-size: 18px;
  border-radius: 5px;
}

.btn-login-principal{
  background: #880042;
  margin-top: 4%;
  margin-right: 2%;
  padding: 8px 10px;
  font-size: 12px;
  color: white;
  border-radius: 10px;
  border: none;
  float:right;
}

.btn-registro-principal{
  background: none;
  margin-top: 4%;
  margin-right: 2%;
  padding: 6px 20px;
  font-size: 12px;
  color: #880042;
  border-radius: 10px;
  border-color: #880042;
  border-width: 2px;
  float: right;
}

.btn-suscribirse-principal{
  background: none;
  margin-top: 6%;
  margin-right: 2%;
  padding: 6px 20px;
  font-size: 12px;
  color: #880042;
  border-radius: 10px;
  border-color: #880042;
  border-width: 2px;
}

.btn-verMas-principal{
  background: #880042;
  margin-top: 1.5%;
  margin-right: 2%;
  margin-bottom:10%;
  padding: 14px 20px;
  font-size: 14px;
  color: white;
  border-radius: 10px;
  border: none;
}

.language{
  font-size: 12px;
  color: #880042;
  float:right;
  margin-top: 4.6%;
  margin-right: 9%;
}

.textoBlanco{color: #FFFFFF;}
.textoRojo{color: #E82C0C;}

.google{
  margin-top: 25px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  /*width: 370px;*/
  width: 100%;
}

.radioButtons{
  display: block;
  margin-bottom: 25px;
}

.g-signin2{display: inline;}

.span{
  background: none;
  border: none;
  border: 1px solid transparent;
  padding: 5%;
}

.span:hover{
  background: #BDB2B7;
  border: 1px solid transparent;
  border-radius: 50%;
}

.divAdmin{
  background: #D8D8D8;
  border: 1px solid #979797;
  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24);
  padding-bottom: 6%;
}
.menuAdmin{
  float:left;
  background: none;
  border: none;
  padding: 2%;
}
.divAdmin ul{float: left; margin-top: 20%;}
.divAdmin li{padding: 20%;}
.divAdmin a{font-size: 130%;}
.divAdmin a:hover{color: #880042; text-decoration: underline;}

.logoPeque{width: 4%; float: left;}

.logoPrincipal{
    width: 200px;
    float: left;
    margin-top: 3%;
    margin-left: 9%;
}

.pointer{cursor: pointer;}

.progress{
  height: 0.5rem;
  width: 100%;
  background: #e9ecef;
  margin-bottom: 1rem;
  display: flex;
}

.editarPerfil{
  float: left;
  margin-left: 20%;
  margin-top: 3%;
  background: #FFFFFF;
  box-shadow: 1px 1px 1px 0 rgba(203,203,203,0.50);
  width: 60%;
}

.headerPermisos{
  background: #9C0C54;
  border: 2px solid #9C0C54;
  border-radius: 2px;
}

.headerPrincipal{
  display: block;
  width: 100%;
  padding-bottom: 12%;
}

.permisos{
  background-color: none;
  border: 2px solid #9C0C54;
  border-radius: 4px;
}

.fotoPerfil{
  width: 20%;
  margin-top: 2%;
}

.fotoPerfil:hover{background: rgba(191,191,191,0.50);}

.alert{
  position: relative;
  padding: .75rem 1.25rem;
  margin: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-danger{background-color: #f8d7da;}
.alert-success{background-color: #d4edda;}

.noticias{
  width: 100%;
}

.noticia{
  display: inline-block;
  width:300px;
  margin:0px 1%;
  height: 30px;
}

.noticiasText{
  padding-bottom: 20px;
  text-align: left;
}

.noticiaTitle{
  margin-top: 15px;
}

.suscripcion{
  margin-top:30px;
  background-color: #FFFFFF;
  padding:0px 450px;
  padding-top:30px;
  padding-bottom:40px;
}

.recursos{
  border:dashed;
}

.recurso{
  display: inline-block;
  width:300px;
  margin:0px 1%;
  height: 30px;
}

.recursosDiv{
  margin-top:0px;
  height:258px;
  background-image:url("assets/img/Recursos.png");
}

.recurso{
  display: inline-block;
  width:300px;
  margin:0px 1%;
  height: 30px;
}

.divRecurso{
  background-color: #F1F4F2;
  width:290px;
  height:120px;
  margin:0;
  margin-bottom:100px;
}

.recursosText{
  text-align: left;
  margin-top:0px;
  padding-top:35px;
  margin-left:17.3%;
  margin-bottom:35px;
}

.recursoIcon{
  float:left;
  margin:25px 0px;
  margin-left:30px;
  margin-right:0px;
}

.estadisticaIcon{
  float:left;
  margin:37px 30px;
  margin-right:0px;
}

.textoRecursos{
  line-height: 16px;
  width:50%;
  margin-top:22px;
  margin-right:25px;
  text-align: left;
  float:right;
}
