/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html,
body {padding:0; margin:0; height:100%;}

html{
  font-family: HiraKakuPro-W3, Verdana;
  font-size: 16px;
  color: #333333;
  background: #F2F2F2;
  text-align: center;
}

p{margin: 0;}

a{
  /*color: #333333;*/
  text-decoration: none;
}

h1{
  font-size:20px;
  font-weight: lighter;
}

form{
  display: inline-block;
  padding: 20px;
}

table{
  border-collapse: collapse;
  margin-bottom: 1rem;
  width: 90%;
  margin-left: 5%;
  background-color: #FFFFFF;
}

thead{
  background-color: black;
  color: #FFFFFF;
}

th, td, button{padding: 15px;}

label{
  text-align: left;
  padding-left: 5px;
  margin-top: 3px;
}

input{
  font-size: 16px;
  color: #7F7F7F;
}

span{font-size: small;}

ul{list-style: none;}

br{
  display: block;
  content: " ";
  margin-top:8px;
}
/****** COLORS TEXT ******/

.textBlack{ color:#333333;}
.textPink{ color:#880042;}
.textWhite{ color:#FFFFFF;}
.textDarkenWhite{ color:#ededed;}
.textGrey{ color: #DDDDDD;}
.textRed{color: #E82C0C;}

/****** COLORS BG ******/

.bgColorBlack{ background-color:#333333;}
.bgColorPink{ background-color:#880042;}
.bgColorWhite{ background-color:#FFFFFF;}
.bgColorDarkenWhite{ background-color:#ededed;}
.bgColorGrey{ background-color: #DDDDDD;}
.bgColorBlue{ background: #0C8A9C;}

/****** TEXT SIZE ******/

.text12{font-size: 12px;}
.text16{ font-size: 16px;}
.text18{ font-size: 18px;}
.text20{ font-size: 20px;}


.divBlanco{
  margin-left: 30%;
  box-shadow: 1px 1px 1px 0 rgba(203,203,203,0.50);
  width: 40%;
}

.camposForm{
  display: inline-grid;
  width: 70%;
  text-align: left;
}

.checkbox{
  border: 1px solid #333333;
  border-radius: 2px;
}

.footerDiv{
  padding: 2%;
}

.lineaCampo{
  border: none;
  border-bottom: 1px solid #333333;
  margin-bottom: 25px;
}

.lineaDiv{
  border: 1px solid #DBDBDB;
  margin-left: 5%;
  margin-bottom: 25px;
  margin-top: 50px;
  width: 90%;
}

.lineaNoticia{
  border: 1px solid #880042;
  margin-left: 5%;
  width: 20%;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 25px;
}

.Eslogan{
  margin: 0 auto;
  width:40%;
  margin-top: 5%;
  margin-bottom: 0px;
  font-size: 20px;
}

.lineaEslogan{
  border: 1px solid #880042;
  margin-left: 5%;
  margin-bottom: 25px;
  width: 40%;
  margin: 0 auto;
  margin-top: 20px;
}

.btn-inline{
  display: inline;
  margin-bottom: 3%;
  margin-top: 3%;
  font-size: 18px;
  border-radius: 5px;
}

.submitGris{
  display: inline;
  margin-bottom: 3%;
  margin-top: 3%;
  font-size: 18px;
  border-radius: 5px;
}

.btn-border{
  margin-right: 2%;
  color: white;
  border: none;
  border-radius: 10px;
}

.login{
  margin-top: 4%;
  padding: 8px 10px;
  font-size: 12px; /*TODO por poner text12 en vez de font size aqui*/
  float:right;
}

.verMas{
  margin-top: 1.5%;
  margin-bottom:10%;
  padding: 14px 20px;
  font-size: 14px;
}

.btn-fill{
  background: none;
  margin-right: 2%;
  padding: 6px 20px;
  border-radius: 10px;
  border-color: #880042;
  border-width: 2px;
}

.registro{
  float: right;
  margin-top: 4%;
}

.suscribirse{
  margin-top: 6%;
}

.language{
  float:right;
  margin-top: 4.6%;
  margin-right: 9%;
}

.google{
  margin-top: 25px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  width: 100%; /*width: 370px;*/
}

.radioButtons{
  display: block;
  margin-bottom: 25px;
}

.g-signin2{display: inline;}

.span{
  background: none;
  border: none;
  border: 1px solid transparent;
  padding: 5%;
}

.span:hover{
  background: #BDB2B7;
  border: 1px solid transparent;
  border-radius: 50%;
}

.divAdmin{
  background: #D8D8D8;
  border: 1px solid #979797;
  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24);
  padding-bottom: 1%;
}
.menuAdmin{
  float:left;
  background: none;
  border: none;
  padding: 2%;
}
.divAdmin ul{float: left; margin-top: 20%;}
.divAdmin li{padding: 20%;}
.divAdmin a{font-size: 130%;}
.divAdmin a:hover{color: #880042; text-decoration: underline;}

.logoutAdmin{
  margin: 0;
  margin-top: 1%;
}

.logoPeque{width: 4%; float: left;}

.logoPrincipal{
    width: 200px;
    float: left;
    margin-top: 3%;
    margin-left: 9%;
}

.pointer{cursor: pointer;}

.progress{
  height: 0.5rem;
  width: 100%;
  background: #e9ecef;
  margin-bottom: 1rem;
  display: flex;
}

.editarPerfil{
  float: left;
  margin-left: 20%;
  margin-top: 3%;
  box-shadow: 1px 1px 1px 0 rgba(203,203,203,0.50);
  width: 60%;
}

.headerPermisos{
  background: #9C0C54;
  border: 2px solid #9C0C54;
  border-radius: 2px;
}

.headerPrincipal{
  display: block;
  width: 100%;
  padding-bottom: 12%;
}

.permisos{
  background-color: none;
  border: 2px solid #9C0C54;
  border-radius: 4px;
}

.fotoPerfil{
  width: 20%;
  margin-top: 2%;
}

.fotoPerfil:hover{background: rgba(191,191,191,0.50);}

.alert{
  position: relative;
  padding: .75rem 1.25rem;
  margin: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-danger{background-color: #f8d7da;}
.alert-success{background-color: #d4edda;}

.noticias{
  width: 100%;
}

.noticia{
  display: inline-block;
  width:300px;
  margin:0px 1%;
  height: 30px;
}

.noticiasText{
  padding-bottom: 20px;
  text-align: left;
}

.noticiaTitle{
  margin-top: 15px;
}

.suscripcionbg{
  width:100%;
}

.suscripcion{
  margin: 0 auto;
  width:40%;
  margin-top:30px;
  padding-top:30px;
  padding-bottom:40px;
}

.recurso{
  display: inline-block;
  width:300px;
  margin:0px 1%;
  height: 30px;
}

.recursosDiv{
  background-size: cover;
  padding:0 15%;
  margin-top:0px;
  height:258px;
  background-image:url("assets/img/Recursos.png");
}

.divRecurso{
  background-color: #F1F4F2;
  width:290px;
  height:120px;
  margin:0;
  margin-bottom:100px;
}

.recursosText{
  text-align: left;
  margin-top:0px;
  padding-top:35px;
  margin-left:12px;
  margin-bottom:35px;
}

.recursoIcon{
  float:left;
  margin:25px 0px;
  margin-left:30px;
  margin-right:0px;
}

.estadisticaIcon{
  float:left;
  margin:37px 30px;
  margin-right:0px;
}

.textoRecursos{
  line-height: 16px;
  width:50%;
  margin-top:22px;
  margin-right:25px;
  text-align: left;
  float:right;
}

.footerDiv{
  clear:both;
  width:100%;
  margin:auto;
  overflow: hidden;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  width:100%;
  margin-top:4%;
}

.infoFooter{
  display: inline-block;
  width: 100%;
  padding-bottom:1%;
}

.divpFooter{
  align-self: center;
  display: inline-block;
  width:32%;
}

.rect-success{
  background-color: #BAE4BE;
}

.rect-danger{
  background-color: #F5BFBF;
}

.itemContainer{
  max-width: 83%;
  width: 83%;
  padding-left: 60px;
  margin:0 auto;
  margin-top:100px;
}

.itemBg{
  display: inline-block;
  width: 300px;
  margin:2%;
  height: 300px;
  float:left;
  box-shadow: 1px 1px 1px 0 rgba(203,203,203,0.50);
}

.itemColor{
  width:300px;
  height:172px;
}

.itemText{
  padding-top:20px;
  font-size:20px;
  color:white;
}

/*** USUARIO HOME  *****/

.itemOver{
  position: absolute;
  z-index: -1;
}

.itemDescription{
  width:87%;
  margin:0 auto;
  height: 77px;
  margin-top:10px;
}

.btn-entrar{
  padding: 8px 10px;
  color: white;
  border-radius: 10px;
  border: none;
}

/** HEADER **/

.header{
  height: 90px;
}

.notification{
  position: relative;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  float:right;
  margin-top:12px;
  margin-right:80px;
}

.infoDivPerfil{
  margin-top:12px;
  text-align: left;
  z-index: 2;
  float: right;
  width: 148px;
  margin-right: 6px;
}

.divPerfil{
  margin-top:-256px;
  z-index: 2;
  float: right;
  width: 150px;
  margin-right: 15px;
}

.options{
  position:relative;
  z-index: 2;
  font-size:14px;
}

.grey{
  color: #8B8B8B;
}

.DivOption{
  margin: 12px 0px;
}

.numberOption{
  float:right;
  margin-top:-30.5px;
  margin-right:27px;
}

.infoDivPerfil,
#perfilTrigger{
  display: none;
}

#perfilTrigger:checked + .infoDivPerfil{
  display: block;
}

.vermasCentro{
  width:80%;
  box-shadow: 1px 1px 1px 0 rgba(203,203,203,0.50);
  margin:0 auto;
  margin-top:120px;
  margin-bottom:40px;
  padding-bottom:15px;
}

.vermasPeq{
  width: 80%;
  margin:0 auto;

}

.vermasLado{
  display: inline-block;
  margin:0 5px;
  width:47%;
  padding-bottom:20px;
  box-shadow: 1px 1px 1px 0 rgba(203,203,203,0.50);
}

.vermasCentroText{
  margin:0 auto;
  width:80%;
  margin-top: 15px;
}

.caracteristicasLeft{
  text-align: left;
  margin-top:10px;

  width: 64%;
  margin-left: 40px;
}

.caractItem{

}
/**** RESPONSIVE ****/

@media (max-width: 1384px) {
  .recursosText{
    margin-left:15%;
  }

  .divRecurso{
    float:left;
    margin-bottom:10px;
  }

  .recurso{
    display: block;
    width:300px;
    margin:0 auto;
    height: 30px;
  }

  .recursosDiv{
    height:500px;
  }
}
