<div class="divBlanco">
  <header>
    <img style="margin-top:20px;" src="../assets/img/AISHA.png" alt="">
  </header>
  <div class="lineaDiv"></div>
  <div id="alert">{{mensaje}}</div>
  <form (ngSubmit)="new(usuarios)" action="/registro" method="get">
<!-- Registro usuarios -->
    <div *ngIf="usuarios" class="camposForm">
      <div class="g-signin2" (ngSubmit)="signInGoogle()"
           data-onsuccess="onSignIn" data-theme="dark">
      </div>

      <label for="nombre">Nombre *</label>
        <input [(ngModel)]="usuario.Nombre" class="lineaCampo" type="text"
                name="nombre" id="nombre" required>
      <label for="apellido">Apellidos *</label>
        <input [(ngModel)]="usuario.Apellidos" class="lineaCampo" type="text"
                name="apellido" id="apellido" required>
      <label for="fechaNacimiento">Fecha Nacimiento</label>
        <input [(ngModel)]="usuario.F_Nacimiento" class="lineaCampo" type="date"
                name="fechaNacimiento" id="fechaNacimiento" required>
      <label for="sexo">Sexo</label>

      <div class="radioButtons">
        <input [(ngModel)]="usuario.Sexo" type="radio" name="mujer" value="1" id="mujer">
          <label for="mujer">Mujer</label>
        <input [(ngModel)]="usuario.Sexo" type="radio" name="hombre" value="2" id="hombre">
          <label for="hombre">Hombre</label>
        <input [(ngModel)]="usuario.Sexo" type="radio" name="otro" value="3" id="otro">
          <label for="otro">Prefiero no especificar</label>
      </div>

      <label for="dni">NIE/NIF *</label>
        <input [(ngModel)]="usuario.DNI" class="lineaCampo" type="text" name="dni" id="dni" required>
      <label for="direccion">Dirección *</label>
        <input [(ngModel)]="usuario.ID_Lugar" id="direccion" class="lineaCampo" type="text" name="direccion" required>
      <label for="email">Email *</label>
        <input [(ngModel)]="usuario.Email" class="lineaCampo" type="email" name="email" id="email" required>
      <label for="profesion">Profesión *</label>
      <select [(ngModel)]="usuario.ID_Profesion" class="lineaCampo" name="profesion" id="profesion" required>
        <option *ngFor="let k of profesiones | keys;" value="{{profesiones[k].ID_Profesion}}">
          {{profesiones[k].Nombre}}
        </option>
      </select>

<!-- Registro asociacion -->
      <label for="asociacion">Asociación *</label>
      <select [(ngModel)]="usuario.ID_Asociacion" class="lineaCampo" name="asociacion" id="asociacion" required>
        <option *ngFor="let k of asociaciones | keys;" value="{{asociaciones[k].ID_Asocioacion}}">
          {{asociaciones[k].Nombre}}
        </option>
      </select>
    </div>

    <div *ngIf="!usuarios" class="camposForm">
      <label for="nombre">Nombre Asociación *</label>
        <input [(ngModel)]="asociacion.Nombre" class="lineaCampo" type="text" name="nombre" id="nombre">
      <label for="direccion">Direccion *</label>
        <input [(ngModel)]="asociacion.Direccion" class="lineaCampo" type="text" name="direccion" id="direccion">
      <label for="email">Email *</label>
        <input [(ngModel)]="asociacion.Email" class="lineaCampo" type="email" name="email" id="email">
      <label for="cif">CIF *</label>
        <input [(ngModel)]="usuario.CIF" class="lineaCampo" type="text" name="cif" id="cif">
      <label for="contra">Contraseña *</label>
        <input (keyup)="validate(asociacion.Password)" [(ngModel)]="asociacion.Password" class="lineaCampo" type="password" name="contra" id="contra">

      <div class="progress">
        <div id="value" style="background-color:black;"></div>
      </div>

    </div>

    <button *ngIf="usuarios" type="button" name="button" (click)="usuarios = !usuarios"
            class="submitNegro textoBlanco">Soy una Asociación
    </button>

    <button *ngIf="!usuarios" type="button" name="button" (click)="usuarios = !usuarios"
            class="submitNegro textoBlanco">Soy un Usuario
    </button>

    <div>
    <!--  <input type="checkbox" name="acepto" value="acepto" id="check">
        <label for="check" class="textoPeq">Acepto la política de privacidad</label> -->
      <p class="textoPeq">* Obligatorio</p>
      <button type="submit" name="button" class="btn-inline textoBlanco">REGISTRAR</button>
    </div>

  </form>

  <footer class="footerDivGris">
    <p>¿Ya estás registrado?</p>
    <a [routerLink]="['/login']"><p><b>Inicia Sesión</b></p></a>
  </footer>
</div>
