<div *ngIf="error">
  <app-error></app-error>
</div>
<div *ngIf="!error">
  <app-header></app-header>

<div class="divBlanco bgColorWhite estadisticas">
  <h1>GRAFICOS SOBRE LOS CASOS REGISTRADOS</h1>
  <div class="lineaDiv"></div>
  <iframe src="http://aisha.ovh:3000/d/bj4X0nkmz/casos?orgId=2" name="estadisticas"
  width="100%" height="900px">
    <p>Este navegador no soporta iframes.</p>
    <img style="width:80%; margin-top:50px;" src="../assets/img/graficos.png" alt="Graficos">
  </iframe>
</div>
<div class="divBlanco bgColorWhite estadisticas">
  <h1>INFORMACIÓN SOBRE AISHA</h1>
  <div class="lineaDiv"></div>
  <iframe src="http://aisha.ovh:3000/d/bneKZnzik/equilibrar-el-uso-de-la-web?orgId=2" name="estadisticas"
  width="100%" height="900px">
    <p>Este navegador no soporta iframes.</p>
    <img style="width:80%; margin-top:50px;" src="../assets/img/graficos.png" alt="Graficos">
  </iframe>
</div>

<!-- <div class="divBlanco bgColorWhite estadisticas">
<h1> DOCUMENTACIÓN API BANCO DE DATOS </h1>
<div class="lineaDiv"></div>
<p class="textEstadisticas">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.</p>

<button type="submit" name="button" class="btn-border" disabled="true" >OBTENER APIKEY</button>
</div> -->


<!-- <div class="estadisticasContainer">
  <div class="bgColorWhite estadisticasItems">
    <h1> GRÁFICOS HUMANOS </h1>
    <div class="lineaDiv"></div>
    <img style="width:45%; margin-top:50px;" src="../assets/img/EdadB.jpg" alt="Edad">
  </div>

  <div class="bgColorWhite estadisticasItems">
    <h1> GRÁFICOS DE MAPAS </h1>
    <div class="lineaDiv"></div>
    <img style="width:70%; margin-top:0px;" src="../assets/img/LugarDetB.jpg" alt="LugarDet">
  </div>

  <div class="bgColorWhite estadisticasItems">
    <h1> GRÁFICOS DE PIRÁMIDES </h1>
    <div class="lineaDiv"></div>
    <img style="width:50%; margin-top:50px;" src="../assets/img/QuesitosEtniasB.jpg" alt="QuesitosEtnias">
  </div>
  <div class="bgColorWhite estadisticasItems">
    <h1> GRÁFICOS CIRCULARES </h1>
    <div class="lineaDiv"></div>
    <img style="width:50%; margin-top:50px;" src="../assets/img/QuesitosEtniasB.jpg" alt="QuesitosEtnias">
  </div>
</div> -->
