<div *ngIf="error">
  <app-error></app-error>
</div>
<div *ngIf="!error">
  <div *ngIf="asociacion">
    <app-header-asociacion></app-header-asociacion>
  </div>
  <div *ngIf="admin">
    <app-header-admin></app-header-admin>
  </div>
  <div *ngIf="usuario">
    <app-header></app-header>
  </div>
</div>

<div class="divBlanco bgColorWhite estadisticas">
  <mat-tab-group id="bloqueHeader" [selectedIndex]="selectedTab" >
    <mat-tab label="Estadísticas sobre Casos">
      <iframe src="https://snapshot.raintank.io/dashboard/snapshot/g8h7aKKA3aL6PNBz2Wtw91TH31b32KHc"
      width="1300" height="900">Su navegador no soporta iFrame</iframe>
    </mat-tab>
    <mat-tab label="Acerca de AISHA">
      <iframe src="https://snapshot.raintank.io/dashboard/snapshot/M5YsR8l4uftKFBSWsaSrfRs6Yg0au33V"
      width="1300" height="900">Su navegador no soporta iFrame</iframe>
    </mat-tab>
    <mat-tab label="Predicción de la MGF">
      <iframe src="https://snapshot.raintank.io/dashboard/snapshot/M5YsR8l4uftKFBSWsaSrfRs6Yg0au33V"
      width="1300" height="900">Su navegador no soporta iFrame</iframe>
    </mat-tab>
  </mat-tab-group>
</div>
