<div class="footerDiv bgColorBlack">
  <div class="socialNetworks">
    <a href="https://www.facebook.com/fibbegroup/"><img src="../assets/img/facebook.png" alt="FacebookIcon"></a>
    <a href="https://twitter.com/groupfibbe"><img src="../assets/img/twitter.png" alt="TwitterIcon"></a>
  </div>

  <div class="infoFooter textWhite">
    <div class="divpFooter">
      <p class="textWhite">&copy; 2017 Aisha Project All Right Reserved</p>
    </div>
    <div class="divpFooter">
      <a class="textWhite" href="/contacto/">CONTACTO</a> | <a class="textWhite" href="https://www.aisha.ovh/fibbe/sobre-nosotros/">QUIENES SOMOS</a>
    </div>
    <div class="divpFooter">
      <a class="textWhite" href="">POLÍTICA DE PRIVACIDAD</a> | <a class="textWhite" href="">LEGAL</a>
    </div>
  </div>
</div>
